
    .arrow_up {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem 0rem;
        width: 3rem;
        height: 4.2rem;
        }

    .arrow_up-g {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -4.2rem;
        width: 3rem;
        height: 4.2rem;
        }

    .arrw-button {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -8.4rem;
        width: 4.3rem;
        height: 3rem;
        }

    .arrw-button-small {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -11.4rem;
        width: 2.6rem;
        height: 1.4rem;
        }

    .arrw-button-small-w {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -12.8rem;
        width: 2.6rem;
        height: 1.4rem;
        }

    .arrw-button-w {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -14.2rem;
        width: 6.2rem;
        height: 3rem;
        }

    .checkbox-checked {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -17.2rem;
        width: 2.8rem;
        height: 2.8rem;
        }

    .checkbox-empty {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -20rem;
        width: 2.8rem;
        height: 2.8rem;
        }

    .grid_arrw {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -22.8rem;
        width: 1.4rem;
        height: 1.4rem;
        }

    .logo-desktop {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -24.2rem;
        width: 27.839999999999996rem;
        height: 5rem;
        }

    .logo-footer {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -29.2rem;
        width: 6.4rem;
        height: 5rem;
        }

    .logo-mobile {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -34.2rem;
        width: 3.8rem;
        height: 3rem;
        }

    .logo-tablet {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -37.2rem;
        width: 16.7rem;
        height: 3rem;
        }

    .menu-close {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -40.2rem;
        width: 1.8399999999999999rem;
        height: 1.8399999999999999rem;
        }

    .menu-open {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -42.1rem;
        width: 1.8rem;
        height: 1.8rem;
        }

    .modal-close {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -43.9rem;
        width: 1.8399999999999999rem;
        height: 1.8399999999999999rem;
        }

    .modal-close-white {
        background-image: url("../img/sprite.svg");
        background-repeat: no-repeat;
        background-size: 27.839999999999996rem 47.7rem;
        background-position: 0rem -45.8rem;
        width: 1.8399999999999999rem;
        height: 1.8399999999999999rem;
        }
