@module: 0.5rem;

@columnWidth: @module * 16;
@gapWidth: @module * 4;

@capCoefficient: 0.8; // font-dependent

@defaultGridLineHeight: @module * 5;
@smallGridLineHeight: @module * 4;

@defaultBodyFontSize: 2rem;
@smallBodyFontSize: 1.5rem;

@triangleCornerStep: 0.2rem;

@accent: #14E3B2;
@gray: #2E2E30;

@animationTime: .3s;

.grid-offset(@fontSize; @lineHeight) {
    @grid-offset: (@lineHeight - @fontSize * @capCoefficient) / 2;
    }

.grid-column-width(@columnNumber) {
    width: @columnNumber * @columnWidth + (@columnNumber - 1) * @gapWidth;
    }

.triangle-corners(@primaryColor: @accent; @backgroundColor: #000) {
    background-color: @primaryColor;
    background-image: linear-gradient(135deg, @backgroundColor, @backgroundColor @triangleCornerStep, transparent @triangleCornerStep, transparent),
        linear-gradient(45deg, @backgroundColor, @backgroundColor @triangleCornerStep, transparent @triangleCornerStep, transparent),
        linear-gradient(225deg, @backgroundColor, @backgroundColor @triangleCornerStep, transparent @triangleCornerStep, transparent),
        linear-gradient(315deg, @backgroundColor, @backgroundColor @triangleCornerStep, transparent @triangleCornerStep, transparent);
    }

.wordWrap(@force: false) {
    display: block;
    max-width: 100%;

    & when (@force) {
        word-wrap: break-word;
        hyphens: auto;
        }
    }

.ellip(@lineCount: 1) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & when (@lineCount > 1) {
        .set-grid-line-height(max-height, @lineCount);
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: @lineCount;
        -webkit-box-orient: vertical;
        white-space: normal;
        }
}

.clearfix() {
    &:before,
    &:after {
        content: '';
        display: table;
        }

    &:after {
        clear: both;
        }
    }

@desktopBreakpoint: 1280px;
@tabletLandscapeBreakpoint: 860px;
@tabletPortraitBreakpoint: 640px;
@phoneBreakpoint: 420px;

.desktop-breakpoint(@rules) {
    @media screen and (min-width: @desktopBreakpoint) {
        @rules();
        }
    }

.tablet-landscape-breakpoint(@rules) {
    @media screen and (min-width: @tabletLandscapeBreakpoint) {
        @rules();
        }
    }

.tablet-portrait-breakpoint(@rules) {
    @media screen and (min-width: @tabletPortraitBreakpoint) {
        @rules();
        }
    }

// @private
// Не вызываете напрямую, используйте через .grid-line
.private-grid-line(@defaultGridLineHeight; @fontSize; @lineHeightCoefficient; @bodyFontSize; @bodyLineHeight) {
    @lineHeight: unit(@defaultGridLineHeight) * @lineHeightCoefficient;
    @capHeight: unit(@fontSize) * @capCoefficient;
    @offset:  (@lineHeight - @capHeight) / 2;

    position: relative;
    font-size: @fontSize;
    line-height: unit(@lineHeight, rem);
    top: 0;

    & when (@fontSize > @bodyFontSize) {

        & when(@offset > @bodyLineHeight) {
            top: unit(@offset - @bodyLineHeight, rem);
            }

        & when(@offset < @bodyLineHeight) {
            top: unit(0 - @offset, rem);
            }
        }
    }

.grid-line(@fontSize; @breakpoint: @phoneBreakpoint; @lineHeightCoefficient: 1) {

    & when (@breakpoint = @phoneBreakpoint) {
        .grid-offset(@smallBodyFontSize, @smallGridLineHeight);
        .private-grid-line(@smallGridLineHeight, @fontSize, @lineHeightCoefficient, @smallBodyFontSize, @grid-offset);
        }

    & when (@breakpoint > @phoneBreakpoint) {
        @media screen and (min-width: @breakpoint) {
            .grid-offset(@defaultBodyFontSize, @defaultGridLineHeight);
            .private-grid-line(@defaultGridLineHeight, @fontSize, @lineHeightCoefficient, @defaultBodyFontSize, @grid-offset);
            }
        }
    }

.body-grid-line() {
    .grid-line(@smallBodyFontSize, @phoneBreakpoint);
    .grid-line(@defaultBodyFontSize, @tabletPortraitBreakpoint);
    }

// Этот миксин нельзя использовать внутри миксинов-брейкпоинтов
// Вместо этого нужно передавать ему значение брейкпоинта в последний параметр
.set-grid-line-height(@property; @multiplier: 1; @breakpoint: 0) {

    & when (@breakpoint = 0) {
        @{property}: @smallGridLineHeight * @multiplier;

        .tablet-portrait-breakpoint({
            @{property}: @defaultGridLineHeight * @multiplier;
            })
        }

    & when (@breakpoint = @phoneBreakpoint) {
        @{property}: @smallGridLineHeight * @multiplier;
        }

    & when (@breakpoint > @phoneBreakpoint) {
        @media screen and (min-width: @breakpoint) {
            @{property}: @defaultGridLineHeight * @multiplier;
            }
        }
    }

.set-grid-offset(@property; @multiplier: 1; @smallFontSize: @smallBodyFontSize; @defaultFontSize: @defaultBodyFontSize) {
    .grid-offset(@smallFontSize, @smallGridLineHeight);
    @{property}: @grid-offset * @multiplier;

    .tablet-portrait-breakpoint({
        .grid-offset(@defaultFontSize, @defaultGridLineHeight);
        @{property}: @grid-offset * @multiplier;
        })
    }

// Компенсация по-умолчанию
.compensateContent() {
    .set-grid-offset(top, -1); // compensate .content
    position: relative;
    }

// Альтернативная компенсация при привязке к нижнему краю
.altCompensateContent() {
    .set-grid-offset(padding-top);
    .set-grid-offset(margin-bottom, -1);
    }




