@import "../_utils.less";
@import "../_sprite.less";
@import "../base/heading.less";

.brand-catalog {
    .set-grid-line-height(padding-top, 6);
    }

    .brand-catalog_list {
        .clearfix();
        .set-grid-line-height(padding-top, 2);
        margin-left: -@gapWidth;
        }

        .brand-catalog_item {
            margin-left: @gapWidth;

            .tablet-portrait-breakpoint({
                float: left;
                .grid-column-width(3);
                });

            .tablet-landscape-breakpoint({
                .grid-column-width(4);
                });
            }


    .brand-catalog_card {
        display: block;
        text-decoration: none;
        }

        .brand-catalog_card-title {
            .heading3;
            .ellip();
            }

        .brand-catalog_card-cover {
            .set-grid-line-height(margin-top, 1);
            .set-grid-line-height(height, 11);
            position: relative;
            overflow: hidden;
            }

            .brand-catalog_card-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1);
                transition: transform @animationTime;

                .brand-catalog_card[href]:hover & {
                    transform: scale(1.1);
                    }
                }

        .brand-catalog_card-footer {
            .set-grid-line-height(height, 1.5);
            .set-grid-line-height(margin-bottom, 1.5);
            .set-grid-line-height(line-height, 1.5);
            position: relative;
            box-sizing: border-box;
            border-bottom: 0.1rem #fff solid;
            }

            .brand-catalog_card_a {
                position: relative;

                .brand-catalog_card[href]:hover & {
                    color: @accent;
                    }

                .brand-catalog_card[href] &:after {
                    .arrw-button-small-w;
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -0.8rem;
                    }
                    .brand-catalog_card[href]:hover &:after {
                        .arrw-button-small;
                        }
                }