@import "../_utils.less";

@catalogFontSize: 1.5rem;

.catalog-menu {
    .set-grid-offset(top, 1, @catalogFontSize, @catalogFontSize);
    .set-grid-line-height(padding-bottom, 3);
    position: relative;
    }

    .catalog-menu_list {
        overflow: hidden;
        transition: max-height @animationTime;

        .no-js & {
            max-height: none;
            }
        }

    .catalog-menu_title {
        .grid-line(@catalogFontSize, @phoneBreakpoint);
        .grid-line(@catalogFontSize, @tabletPortraitBreakpoint);
        display: inline-block;
        vertical-align: top;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: @accent;
            }
        }

    .catalog-menu_item {
        .grid-line(@catalogFontSize, @phoneBreakpoint);
        .grid-line(@catalogFontSize, @tabletPortraitBreakpoint);
        }

        .catalog-menu_a {
            text-decoration: none;
            border-bottom: 1px #fff dotted;

            &:hover {
                border-color: transparent;
                color: @accent;
                }
            }