@import "../_utils.less";
@import "../_sprite.less";

.catalog {
    .set-grid-line-height(padding-top, 6);
    }

    .catalog_list {

        }

        .catalog_item {
            .set-grid-line-height(padding-top, 3);
            }


    .catalog_table {
        .set-grid-line-height(padding-top, 1);

        & .pseudotable_cell-title {
            white-space: nowrap;
            }
        }

    .catalog_series {

        .tablet-portrait-breakpoint({
            .grid-column-width(1);
            });
        }

    .catalog_description {

        .tablet-portrait-breakpoint({
            .grid-column-width(4);
            });

        .tablet-landscape-breakpoint({
            .grid-column-width(6);
            })
        }

    .catalog_specification {

        .tablet-portrait-breakpoint({
            .grid-column-width(1);
            text-align: right;
            });
        }