@import "../_utils.less";

.clients {
    .set-grid-line-height(margin-bottom, 5);
    .set-grid-line-height(margin-top, -2);
    .set-grid-line-height(margin-top, -4, @desktopBreakpoint);
    text-align: center;
    font-size: 0;
    }

    .clients_img {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        margin-top: 6.4rem;
        border-left: 1rem transparent solid;
        border-right: 1rem transparent solid;
        box-sizing: border-box;

        .tablet-portrait-breakpoint({
            width: 33%;
            border: 0 none;
            });

        .desktop-breakpoint({
            width: 25%;
            });
        }