@import "../_utils.less";

.compact-contact-info {
    .body-grid-line();
    .altCompensateContent();

    .desktop-breakpoint({
        white-space: nowrap;
        })
    }

    .compact-contact-info_item {

        .desktop-breakpoint({
            display: inline-block;

            & + & {
                margin-left: @module * 10;
                }
            });
        }