.contact-info {

    & ul + p,
    & ol + p {
        margin-top: 0;
        }

    & ul,
    & ol {
        margin-top: 0 !important; // override .content p+*
        }

    & li {
        margin-top: 0 !important; // override .content>ul li
        margin-left: @module * 10;
        }
    }