@import "../_utils.less";

.contact-map {
    .content + & {
        .set-grid-line-height(margin-top, 2);
        }
    }

    .contact-map_text {
        .set-grid-line-height(margin-bottom, 2);

        .desktop-breakpoint({
            display: none;
            })
        }

    .contact-map_image {
        .set-grid-line-height(height, 22);
        }