@import "../_utils.less";

.content {
    .set-grid-offset(top);
    position: relative;
    font-size: @smallBodyFontSize;

    .tablet-portrait-breakpoint({
        font-size: @defaultBodyFontSize;
        });

    & h1 {
        .grid-line(1.8rem, @phoneBreakpoint, 1);
        .grid-line(3.3rem, @tabletPortraitBreakpoint, 2);
        .grid-line(4.8rem, @tabletLandscapeBreakpoint, 2);
        .wordWrap();

        & + * {
            .set-grid-line-height(margin-top, 2);
            }

        & + p,
        & + h3 {
            .set-grid-line-height(margin-top, 1, @phoneBreakpoint);
            .set-grid-line-height(margin-top, 2, @tabletPortraitBreakpoint);
            }
        }

    & h2 {
        .grid-line(1.8rem, @phoneBreakpoint, 1);
        .grid-line(3.0rem, @tabletPortraitBreakpoint, 2);
        .grid-line(3.5rem, @tabletLandscapeBreakpoint, 2);
        .wordWrap();

        & + * {
            .set-grid-line-height(margin-top, 1);
            }
        }

    & h3, h4, h5, h6 {
        .body-grid-line();

        & + h1 {
            .set-grid-line-height(margin-top, 1);
            }
        }

    & p {
        .body-grid-line();

        & + * {
            .set-grid-line-height(margin-top);
            }

        & + h1 {
            .set-grid-line-height(margin-top, 2);
            }
        }

    & ol, h1, h2, h3, h4, h5, h6, p {
        counter-reset: item;
        }

    & ol > li:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
        }

    & ul > li:before {
        content: '→ ';
        counter-increment: item;
        }

    & > ol,
    & > ul {
        margin-left: 0;
        list-style-position: inside;

        & li {
            .set-grid-line-height(margin-top);
            }

        & + * {
            .set-grid-line-height(margin-top);
            }
        }

    & > ul {

        ul, ol {
            margin-left: @module * 10;
            }
        }

    & li {
        .body-grid-line();
        }

    & hr {
        .set-grid-line-height(height, 2);
        .compensateContent();
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            border-top: 0.1rem white solid;
            }
        }

    // Это магическое место
    & table {
        .compensateContent();
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        & + * {
            .set-grid-line-height(margin-top);
            }

        // Смысл описанного здесь в следующем:
        // По дизайну на три шага сетки по 25px должно приходиться две строки таблицы
        // 75 на два нацело не делится, а все браузеры округляют дроби по-разному.
        // Поэтому мы пытаемся гарантировать в простейшем случае высоту строки в 37 пикселов, и всем четным дорисовываем еще +1 пиксел снизу
        & caption {
            .set-grid-line-height(height); // Мы хотим определенности. Padding нас спасет, если текста станет много
            text-align: left;
            font-weight: 500;
            padding: 0.5rem 0;

            .tablet-portrait-breakpoint({
                padding: 0.6rem 0;
                });
            }

        & td,
        & th {
            .set-grid-line-height(height);
            position: relative;
            padding: 0.5rem 0;

            .tablet-portrait-breakpoint({
                padding: 0.6rem 0;
                });

            // Изображаем границу с разрывом.
            // Честный border не получится, потому что разрыв
            // Псевдоэлемент не получится, потому что ie
            background-image: linear-gradient(to right,#fff,#fff);
            background-position: bottom 0 left 0;
            background-size: 100% 1px;
            background-repeat: no-repeat;
            }

        & tr:first-child td,
        & tr:first-child th {

            background-image: linear-gradient(to right,#fff,#fff);
            background-position: bottom 0 left 0;
            background-size: 100% 1px;
            background-repeat: no-repeat;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                border-top: 0.1rem white solid;
                }
            }

        & td[rowspan],
        & th[rowspan],
        & td[colspan],
        & th[colspan] {
            text-align: center;
            vertical-align: middle;
            }

        & td + td,
        & th + th {
            padding-left: @gapWidth;
            background-position: bottom 0 left @gapWidth !important; // override tr:first-child th
            }

        & tr:nth-child(2n+1) td,
        & tr:nth-child(2n+1) th {
            .tablet-portrait-breakpoint({
                border-bottom: 0.1rem transparent solid;
                });
            }
        }

    & .column + .column tr:first-child td,
    & .column + .column tr:first-child th {

        &:before {
            display: none;
            }
        }

        & .columns.__2 {

            .tablet-portrait-breakpoint({
                & .column + .column tr:first-child td,
                & .column + .column tr:first-child th {
                    &:before {
                        display: block;
                        }
                    }
                });
            }

        & .columns.__3,
        & .columns.__4 {

            .tablet-landscape-breakpoint({
                & .column + .column tr:first-child td,
                & .column + .column tr:first-child th {
                    &:before {
                        display: block;
                        }
                    }
                });
            }

    & img {
        .compensateContent();
        display: block;
        width: 100%;

        & + * {
            .set-grid-line-height(margin-top);
            }
        }

    & .column {

        & h1 {
            .set-grid-line-height(margin-bottom, 2);
            }

        & h2,
        & h3 {
            margin-bottom: 0;
            }

        & p {
            .set-grid-line-height(margin-bottom);
            }

        & li {
            .set-grid-line-height(margin-bottom);
            }
        }
    }