@import "../_utils.less";

.country-map {
    .set-grid-line-height(padding-top, 2);
    .set-grid-line-height(margin-bottom, 2);
    margin-top: 0!important; //override .content p + *
    display: block;
    width: 100%;
    }