@import "../_utils.less";
@import "../base/heading.less";
@import "../base/layout.less";

.cover {
    .set-grid-line-height(height, 30);
    position: relative;
    }

    .cover_item {
        .set-grid-line-height(height, 30);
        position: relative;
        }

    .cover_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        }

    .cover_container {
        .default-container;
        .set-grid-line-height(height, 30);
        position: relative;
        z-index: 1; // over .cover_item:after
        }

    .cover_text {
        .set-grid-line-height(bottom, 3);
        position: absolute;
        right: 0;
        width: 100%;

        .grid & {
            position: absolute;
            }

        .desktop-breakpoint({
            .grid-column-width(8);
            });
        }

        .cover_title {
            .grid-line(1.8rem, @phoneBreakpoint, 1);
            .grid-line(3.3rem, @tabletPortraitBreakpoint, 2);
            .grid-line(3.5rem, @tabletLandscapeBreakpoint, 2);
            .grid-line(4.8rem, @tabletLandscapeBreakpoint, 2);
            .wordWrap();
            .altCompensateContent();
            font-weight: 500;
            }

.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }

    .swiper-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        white-space: nowrap;
        font-size: 0;
        }

    .swiper-slide {
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 100%;
        white-space: normal;
        }

        .swiper-lazy {
            opacity: 0;
            transition: opacity @animationTime;

            &.swiper-lazy-loaded {
                opacity: 1;
                }
            }

    .swiper-footer {
        .set-grid-line-height(bottom, 1, @phoneBreakpoint);
        .set-grid-line-height(bottom, 3, @desktopBreakpoint);
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        margin-left: -0.6rem; // Визуальный сдвиг точек слайдера
        margin-bottom: -0.6rem;
        }

    .swiper-pagination {
        .default-container;
        }

        .swiper-pagination-bullet {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 2.2rem;
            height: 2.2rem;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                top: 0.6rem;
                left: 0.6rem;
                width: 0.8rem;
                height: 0.8rem;
                border: 0.1rem #fff solid;
                border-radius: 50%;
                }

            &.swiper-pagination-bullet-active:before {
                background-color: #fff;
                }
            }