@import "../_utils.less";
@import "../base/heading.less";
@import "../base/layout.less";

.footer {
    .set-grid-line-height(padding-top, 2);
    .set-grid-line-height(padding-top, 3, @desktopBreakpoint);
    background-color: #000;
    }

.footer_main {
    .desktop-breakpoint({
        .grid-column-width(8);
        });
    }

.footer_row {
    .default-container;
    display: flex;
    flex-direction: column;

    .desktop-breakpoint({
        flex-direction: row;
        });

    &:not(.__alt) {
        .tablet-portrait-breakpoint({
            flex-direction: row;
            justify-content: space-between;
            })
        }
    }

.footer_aside {

    .footer_row.__alt & {
        order: 1;
        }

    .desktop-breakpoint({
        .grid-column-width(3);
        order: -1 !important; // override .footer_row.__alt &
        margin-right: @columnWidth + @gapWidth * 2;
        });
    }

.footer_logo {
    .set-grid-line-height(height, 2);
    .set-grid-line-height(margin-bottom);
    .set-grid-line-height(padding-top, 1, @tabletPortraitBreakpoint);
    .set-grid-line-height(margin-bottom, 0, @tabletPortraitBreakpoint);
    .set-grid-line-height(padding-top, 1, @desktopBreakpoint);
    .set-grid-line-height(margin-bottom, 2, @desktopBreakpoint);

    display: none;

    .tablet-portrait-breakpoint({
        display: block;
        });
    }

.footer_order-button {
    .set-grid-line-height(padding-bottom, 2);
    font-size: 0;
    white-space: nowrap;

    .tablet-portrait-breakpoint({
        .grid-column-width(4);
        });

    &:before {
        .set-grid-line-height(height, 3);
        content: '';
        display: inline-block;
        width: 0;
        vertical-align: bottom;
        }
    }

.footer_info {
    .set-grid-line-height(padding-bottom, 2);
    .set-grid-line-height(padding-top, 1, @desktopBreakpoint);
    .set-grid-line-height(padding-bottom, 6, @desktopBreakpoint);
    }

.footer_nav {
    .set-grid-line-height(padding-top, 1);
    }

.footer_slogan {
    .set-grid-line-height(padding-bottom, 2);
    .set-grid-line-height(padding-bottom, 6, @desktopBreakpoint);
    }

.footer_copyright {
    .set-grid-line-height(padding-bottom, 2);
    }

.footer_target {
    .set-grid-line-height(padding-bottom, 2);
    display: none;

    .tablet-portrait-breakpoint({
        display: block;
        })
    }