@import "../_utils.less";
@import "../base/layout.less";

.history {
    .set-grid-line-height(padding-top, 10);
    .set-grid-line-height(padding-bottom, 5);
    }

    .history_list {
        .default-container();
        }

    .history-vendor {

        .tablet-portrait-breakpoint({
            .grid-column-width(2);
            });

        .desktop-breakpoint({
            margin-left: @columnWidth * 2 + @gapWidth * 2;
            })
        }

    .history-product {

        .tablet-portrait-breakpoint({
            .grid-column-width(3);
            });

        .tablet-landscape-breakpoint({
            .grid-column-width(5);
            });

        .desktop-breakpoint({
            .grid-column-width(7);
            })
        }

    .history-order {

        .tablet-portrait-breakpoint({
            .grid-column-width(1);
            })
        }

    .history_pagination {
        .set-grid-line-height(padding-top, 2);
        .default-container();

        .desktop-breakpoint({
            border-left: (@columnWidth * 2 + @gapWidth * 2) transparent solid;
            })
        }