@import "../_utils.less";
@import "../_sprite.less";
@import "../base/heading.less";

.info-section {
    .set-grid-line-height(margin-top, 3);
    .set-grid-line-height(margin-top, 4, @desktopBreakpoint);
    .set-grid-line-height(margin-bottom, 2);
    .set-grid-line-height(margin-bottom, 4, @desktopBreakpoint);

    .desktop-breakpoint({
        display: flex;
        flex-direction: row;
        });
    }

    .info-section_main {
        .desktop-breakpoint({
            .grid-column-width(8);
            });
        }

    .info-section_aside {
        .wordWrap();
        order: -1;

        .desktop-breakpoint({
            .grid-column-width(3);
            float: none;
            margin-right: @columnWidth + @gapWidth * 2;
            });
        }

    .info-section_counter {
        .heading1;
        float: left;
        margin-right: 1rem;

        .desktop-breakpoint({
            float: none;
            margin-right: 0;
            });

        &:not(:empty):after {
            counter-increment: info-counter;
            content: '.' counter(info-counter);
            }

        .tablet-portrait-breakpoint({

            &:before {
                .arrw-button-w;
                content: '';
                display: inline-block;
                }

                &:not(:empty):before {
                    margin-right: @gapWidth;
                    }
            })
        }

    .info-section_summary {
        .heading1;
        display: none;

        .info-section_counter + & {
            .set-grid-line-height(margin-top, 2);
            }

        .desktop-breakpoint({
            display: block;
            });
        }

    .info-section_description {
        .set-grid-line-height(padding-top, 2, @desktopBreakpoint);
        display: none;

        .desktop-breakpoint({
            display: block;
            });
        }