@import "../_utils.less";
@import "../base/layout.less";

.menu-link() {
    display: block;
    text-decoration: none;
    color: #fff;

    &[href]:hover,
    div&:hover,
    &.__active {
        color: @accent;
        }
    }

.menu-width() {

    .desktop-breakpoint({
        .grid-column-width(8);
        margin: 0 auto;
        });
    }

.nav-menu {
    .menu-width();
    .altCompensateContent();
    position: relative;
    text-align: left;
    counter-reset: menu-item;
    display: flex;
    line-height: @defaultGridLineHeight;
    flex-direction: column;

    .desktop-breakpoint({
        flex-direction: row;
        justify-content: space-between;
        });
    }

    .nav-menu_item {
        .set-grid-line-height(margin-bottom, 1, @phoneBreakpoint);
        .set-grid-line-height(margin-bottom, 0, @tabletPortraitBreakpoint);
        .grid-line(3rem, @phoneBreakpoint, 1);
        .grid-line(3rem, @tabletPortraitBreakpoint, 2);
        .grid-line(@defaultBodyFontSize, @desktopBreakpoint, 1);

        }

        .nav-menu_title {
            .menu-link();

            &:before {
                content: counter(menu-item) ". ";
                counter-increment: menu-item;
                }

            .nav-menu_item.__has-dropdown & {
                cursor: pointer;

                &:after {
                    content: '...';
                    vertical-align: top;
                    }
                }
            }

        .nav-menu_dropdown {
            position: relative;

            &:before {
                content: '1.\00a0';
                font-size: 3rem;
                float: left;
                visibility: hidden;
                height: 0.1rem;
                }


            .desktop-breakpoint({
                width: 0;
                font-size: @defaultBodyFontSize;

                &:before {
                    display: none;
                    }
                });
            }

            .nav-menu_dropdown-container {
                .menu-width();
                position: relative;
                padding-top: 0;
                overflow: hidden;
                max-height: 0;
                box-sizing: border-box;
                z-index: 15; // over .nav-menu_item
                transition: max-height @animationTime, padding-top @animationTime, margin-bottom @animationTime;

                .no-js .nav-menu_item.__has-dropdown:hover &,
                .nav-menu_item.__has-dropdown.__hover & {
                    .set-grid-line-height(padding-top);
                    .set-grid-line-height(margin-bottom, 1);
                    max-height: 100rem;
                    }

                .desktop-breakpoint({
                    margin-bottom: 0;
                    max-height: 0;

                    .no-js .nav-menu_item.__has-dropdown:hover &,
                    .nav-menu_item.__has-dropdown.__hover {
                        max-height: 50rem;
                        }
                    });
                }

                .nav-menu_subitem {
                    .menu-link();
                    .grid-line(1.8rem, @tabletPortraitBreakpoint, 1);
                    font-size: 1.8rem;
                    line-height: 3rem;
                    white-space: nowrap;

                    &.__active {
                        color: @accent;
                        }

                    @media screen and (min-width: 420px) {
                        float: left;
                        width: 50%;
                        }

                    .desktop-breakpoint({
                        .grid-column-width(2);
                        margin-right: @gapWidth;
                        line-height: @defaultGridLineHeight;
                        });
                    }