@import "../_utils.less";

@close-background: #eeeeef;

.order-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1000;
    font-size: 0;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    &:focus {
        outline: none;
        border-color: transparent;
        }

    &:before {
        content: '';
        position: relative;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        }

    &.__active {
        display: block;
        }
    }

    .order-popup_container {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        white-space: normal;
        }

        .order-popup_holder {
            .set-grid-line-height(padding-top, 6);
            .set-grid-line-height(padding-bottom, 6);
            width: 90%;
            margin: 0 auto;

            .tablet-landscape-breakpoint({
                width: 78rem;
                });
            }

            .order-popup_description {
                .set-grid-line-height(margin-bottom, 2);
                .body-grid-line();
                .set-grid-offset(top, 1);
                position: relative;
                color: @gray;
                font-weight: 500;
                }

    .order-popup_line {
        .clearfix();

        &.__columns {
            margin-left: 0;

            .tablet-portrait-breakpoint({
                margin-left: -@gapWidth;
                })
            }

        & .input-wrapper {
            display: block;
            }

        .order-popup.__success & {
            display: none;
            }
        }

        .order-popup_cell {
            .set-grid-line-height(margin-bottom, 1);
            box-sizing: border-box;
            width: 100%;
            border: 0 none;

            .tablet-portrait-breakpoint({
                float: left;
                border-left: @gapWidth transparent solid;
                width: 50%;
                margin-bottom: 3.5rem;
                })
            }

    .order-popup_footer {
        .set-grid-line-height(margin-top, 1);
        .clearfix();

        &.__columns {
            margin-left: 0;
            margin-bottom: 0;

            .tablet-portrait-breakpoint({
                margin-left: -@gapWidth;
                });

            .order-popup.__success & {
                display: none;
                }
            }
        }

    .order-popup_close {
        position: absolute;
        top: 0;
        right: 0;
        width: 9rem;
        height: 9rem;
        background-color: @close-background;
        cursor: pointer;
        transition: background-color @animationTime;

        &:hover {
            background-color: @accent;
            }

        &:before {
            .modal-close;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
            transition: opacity @animationTime;
            }
            &:hover:before {
                opacity: 0;
                }

        &:after {
            .modal-close-white;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity @animationTime;
            }
            &:hover:after {
                opacity: 1;
                }
        }

    .order-popup_status {
        .body-grid-line();
        .altCompensateContent();
        display: none;

        .order-popup.__error &.__error {
            display: block;
            color: #f00;
            }

        .order-popup.__success &.__success {
            display: block;
            color: @accent;
            }
        }

    .order-popup.__success .checkbox-wrapper {
        display: none;
        }