.g-recaptcha {

    }

    // Не влезаем в сетку
    .g-recaptcha-scale {
        transform: scale(0.9);
        transform-origin: 0 0;
        }

    .g-recaptcha_alt {
        position: relative;
        width: 302px;
        height: 422px;
        }

        .g-recaptcha_test {
            position: absolute;
            width: 302px;
            height: 422px;
            }

            .g-recaptcha_frame {
                width: 302px;
                height:422px;
                border-style: none;
                }

    .g-recaptcha_input-wrapper {
        width: 300px;
        height: 60px;
        bottom: 12px;
        left: 25px;
        margin: 0;
        padding: 0;
        right: 25px;
        background: #f9f9f9;
        border: 1px solid #c1c1c1;
        border-radius: 3px;
        }

        .g-recaptcha-response {
            width: 250px;
            height: 40px;
            border: 1px solid #c1c1c1;
            margin: 10px 25px;
            padding: 0;
            resize: none;
            }