@import "../_sprite.less";
@import "../_utils.less";
@import "../base/layout.less";

.scroll-top-wrapper {
    position: relative;
    }

.scroll-top {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;

    &.__fixed {
        position: fixed;
        bottom: 3rem;
        }

    &.__active {
        .desktop-breakpoint({
            display: block;
            })
        }
    }

    .scroll-top_icon {
        .default-container;
        display: block;
        position: relative;

        &:after {
            .arrow_up;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            cursor: pointer;
            }

        &:hover:after {
            .arrow_up-g;
            }
        }