@import "../_utils.less";
@import "../_sprite.less";
@import "../base/layout.less";

.top-line {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &.__sidebar {
        right: -3rem; //hide scroll
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        }

    &.__fixed {
        position: fixed;
        }

    .no-js & {
        position: absolute;
        background-color: #000;
        }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color @animationTime;
        min-height: 6.6rem;
        -webkit-transform: translateZ(0); // Safari fix

        .tablet-portrait-breakpoint({
            position: fixed;
            height: 6.6rem;
            });

        .desktop-breakpoint({
            position: absolute;
            min-height: 0;
            height: 100%;
            });
        }
        &.__dark:before {
            background-color: rgba(0, 0, 0, 255);
            }
        &.__dark.__sidebar:before {
            height: 6.6rem;
            }

    .desktop-breakpoint({
        position: absolute;
        right: 0;
        display: block;
        height: auto !important;
        overflow: visible;
        padding-bottom: 2rem;

        &.__fixed {
            padding-top: 1rem;
            }
        });
    }

    .top-line_container {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;

        .desktop-breakpoint({
            .grid-column-width(12);
            margin: 0 auto;
            })
        }

    .top-line_left {
        .set-grid-line-height(height, 2, @desktopBreakpoint);
        .set-grid-line-height(padding-top, 3, @desktopBreakpoint);
        position: absolute;
        top: 1.8rem;
        left: 1.8rem;
        z-index: 1; // over .top-line_right

        .tablet-portrait-breakpoint({

            .top-line.__sidebar & {
                position: fixed;
                }
            });

        .desktop-breakpoint({
            .grid-column-width(3);
            position: static;

            .top-line.__fixed & {
                position: absolute;
                top: 0.2rem;
                left: 0;
                height: auto;
                padding-top: 0;
                }
            })
        }

    .top-line_right {
        .set-grid-line-height(padding-top, 4);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top-line.__sidebar & {
            min-height: 100%;
            padding-left: @gapWidth;
            box-sizing: border-box;
            background-color: #000;
            -webkit-transform: translateZ(0); // Safari fix
            }

        .tablet-portrait-breakpoint({
            left: 50%;
            });

        .desktop-breakpoint({
            .grid-column-width(8);
            background-color: transparent;
            position: static;
            text-align: right;
            margin: 0 0 0 auto;
            min-height: 0;
            padding: 0;
            })
        }

    .top-line_nav-menu {
        .set-grid-line-height(margin-bottom, 2, @phoneBreakpoint);
        .set-grid-line-height(margin-bottom, 0, @desktopBreakpoint);
        display: none;

        .top-line.__sidebar & {
            display: block;
            }

        .desktop-breakpoint({
            display: block !important;
            })
        }

    .top-line_contact {
        .set-grid-line-height(padding-bottom, 2);
        .set-grid-line-height(padding-bottom, 3, @desktopBreakpoint);
        order: 1;
        display: none;

        .top-line.__fixed & {
            display: none;
            }

        .top-line.__sidebar & {
            display: block;
            }

        .desktop-breakpoint({
            display: block;
            order: 0;
            })
        }

    .top-line_nav-icon {
        .menu-open;
        position: absolute;
        top: 2.4rem;
        right: 2.4rem;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: -2.4rem;
            left: -2.4rem;
            right: -2.4rem;
            bottom: -2.4rem;
            }

        .no-js & {
            display: none;
            }

        .top-line.__sidebar & {
            .menu-close;
            right: 5.4rem;
            }

        .desktop-breakpoint({
            display: none;
            })
        }