@import "../_utils.less";
@import "../_sprite.less";
@import "../base/heading.less";
@import "../base/layout.less";

.vendors {
    background-color: @accent;
    overflow: hidden;
    }

    .vendors_container {
        .default-container;
        .set-grid-line-height(padding-top, 3);
        }

    .vendors_title {
        .heading1;
        .clearfix();
        }

        .vendors_counter {
            float: left;
            margin-right: 1rem;

            &:not(:empty):after {
                counter-increment: info-counter;
                content: '.' counter(info-counter);
                }

            .tablet-portrait-breakpoint({

                &:before {
                    .arrw-button-w;
                    content: '';
                    display: inline-block;
                    }

                &:not(:empty):before {
                    margin-right: @gapWidth;
                    }
                });

            .desktop-breakpoint({
                .grid-column-width(3);
                margin-right: @columnWidth + @gapWidth * 2;
                });
            }

    .vendors_list {
        .clearfix();
        .set-grid-line-height(margin-top, 1, @phoneBreakpoint);
        .set-grid-line-height(margin-top, 2, @tabletPortraitBreakpoint);
        .set-grid-line-height(padding-bottom, 3);
        .set-grid-line-height(padding-bottom, 6, @desktopBreakpoint);
        .altCompensateContent();
        margin-left: -@gapWidth;
        }

        .vendors_link {
            .grid-line(1.8rem, @phoneBreakpoint, 1);
            .grid-line(3.3rem, @tabletPortraitBreakpoint, 2);
            .grid-line(4.8rem, @tabletLandscapeBreakpoint, 2);
            .grid-column-width(2);
            .wordWrap();

            float: left;
            display: block;

            font-weight: 500;
            text-decoration: none;
            margin-left: @gapWidth;

            &[href]:hover {
                text-decoration: underline;
                }

            .tablet-portrait-breakpoint({
                .grid-column-width(3);
                });

            .tablet-landscape-breakpoint({
                .grid-column-width(4);
                });
            }