@import "../_utils.less";

// Попробуем прибивать футер без флексбоксов, в ie10-11 проблемы с высотой
// Другие решения существуют, но табличка выглядит самой дешевой, потому что ширина контейнера фиксирована
// http://css-live.ru/articles/brauzernye-bagi-flexbox.html#3-min-height-on-a-column-flex-container-wont-apply-to-its-flex-items
.wrapper {
    display: table;
    width: 100%;
    height: 100%;
    counter-reset: info-counter;

    .grid & {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9999;
            pointer-events: none;
            opacity: 0.8;
            background-image: repeating-linear-gradient(transparent, transparent 1.9rem, red 2rem, red 0.1rem);
            }
        }
    }

    .tablet-portrait-breakpoint({
        .grid .wrapper:before {
            background-image: repeating-linear-gradient(transparent, transparent 2.4rem, red 2.5rem, red 0.1rem);
            }
        });

.wrapper_content,
.wrapper_footer {
    display: table-row;
    }

    .wrapper_content {
        height: 100%;
        }

    .wrapper_footer {
        height: 1px;
        }