<article class="p404">
    <div class="info-list">
        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_summary">
                    Ошибка 404
                </div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>
                    Страница не найдена<br />
                    —<br />
                    Если вы уверены, что что-то пошло не так и тут точно должно быть что-то полезное, напишите нам: <a href="mailto:info@perteq.ru">info@perteq.ru</a>
                    </h1>
                </div>
            </section>
        </div>
    </div>
</article>