<!DOCTYPE html>
<html lang="ru" class="js-hook no-js" data-module="Grid">
    <head>
        <title>Передовые Технологии: поставки комплектующих и запчастей для производств</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no"/>

        <link rel="shortcut icon" href="./favicon.png" type="image/png">

        <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen, print">
        <script type="text/javascript">
            document.documentElement.className="js-hook";
        </script>
        <script type="text/javascript" src="./js/App.js" defer="defer"></script>
    </head>

    <!-- Look, Ma! It works without JavaScript! -->
    <% if(current.path[0] === "order"){ %>
        <body class="__modal">
            <%- partial("_partials/_order-popup", {"isVisible": true}); %>
        </body>
    <% } else{ %>
        <body>
            <div class="wrapper">
                <div class="wrapper_content">
                    <%- partial("_partials/_top-line"); %>
                    <%- partial("_partials/_cover"); %>
                    <%- yield %>
                </div>

                <div class="wrapper_footer">
                    <%- partial("_partials/_footer"); %>
                </div>
            </div>
            <%- partial("_partials/_order-popup", {"isVisible": false}); %>
        </body>
    <% } %>

</html>