<article>
    <div class="info-list">
        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
                <div class="info-section_summary"></div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Отрасли промышленности</h1>
                    <p>
                        Передовые технологии работают в различных отраслях промышленности и фокусируются на нефтехимической, металлургической и шинной. Мы сотрудничаем с ведущими игроками этих отраслей, хорошо понимаем специфику их бизнеса и технологических процессов. Ниже перечислены наши основные поставщики по отраслям.
                    </p>
                </div>
            </section>
        </div>

        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
                <div class="info-section_summary"></div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Нефтегазовая</h1>
                    <p>
                        Нефтяная промышленность — отрасль экономики, занимающаяся добычей, переработкой, транспортировкой, складированием и продажей полезного природного ископаемого — нефти и сопутствующих нефтепродуктов. Смежные отрасли: геофизика, бурение, производство нефтегазового оборудования.
                    </p>
                    <div class="columns __4">
                        <div class="column">
                            <table>
                                <tr>
                                    <td>Bently Nevada</td>
                                </tr>
                                <tr>
                                    <td>Endress+Hauser</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>GHR</td>
                                </tr>
                                <tr>
                                    <td>Herion</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>IMI Maxseal</td>
                                </tr>
                                <tr>
                                    <td>Siemens</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>Thompson Valves</td>
                                </tr>
                                <tr>
                                    <td>Vega</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
                <div class="info-section_summary"></div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Фармацевтическая</h1>
                    <p>
                        Фармацевтическая промышленность — отрасль промышленности, связанная с исследованием, разработкой, массовым производством изучением рынка и распределением лекарственных средств, преимущественно предназначенных для профилактики, облегчения и лечения болезней.
                    </p>

                    <div class="columns __4">
                        <div class="column">
                            <table>
                                <tr>
                                    <td>Endress+Hauser</td>
                                </tr>
                                <tr>
                                    <td>Fristam Pumps</td>
                                </tr>
                                <tr>
                                    <td>GEA Tuchenhagen</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>GEMU</td>
                                </tr>
                                <tr>
                                    <td>Gestra</td>
                                </tr>
                                <tr>
                                    <td>Metal Work</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>Negele</td>
                                </tr>
                                <tr>
                                    <td>Prominent</td>
                                </tr>
                                <tr>
                                    <td>Siemens</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>Spirax Sarco</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
                <div class="info-section_summary"></div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Металлургическая</h1>
                    <p>
                        Металлургическая промышленность — область науки и техники, охватывающая процессы получения металлов из руд или других материалов, а также процессы, связанные с изменением химического состава, структуры и свойств металлических сплавов.
                    </p>
                    <div class="columns __4">
                        <div class="column">
                            <table>
                                <tr>
                                    <td>Ansaldo Nidec</td>
                                </tr>
                                <tr>
                                    <td>Buschjost</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>Endress+Hauser</td>
                                </tr>
                                <tr>
                                    <td>Herion</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>Norgren</td>
                                </tr>
                                <tr>
                                    <td>Siemens</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>Vega</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
                <div class="info-section_summary"></div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Шинная</h1>
                    <p>
                        Шинная промышленность — одна из важнейших отраслей химического комплекса. Она вплотную связана с производством синтетического каучука. Производство шин — завершающе  звено технологической цепочки.
                        Комплектующие для шинной промышленности представлены следующими производителями:
                    </p>
                    <div class="columns __4">
                        <div class="column">
                            <table>
                                <tr>
                                    <td>Baluff</td>
                                </tr>
                                <tr>
                                    <td>Beckhoff</td>
                                </tr>
                                <tr>
                                    <td>Bosch Rexroth</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>Branson</td>
                                </tr>
                                <tr>
                                    <td>Erhardt+Leimer</td>
                                </tr>
                                <tr>
                                    <td>Hydac</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>Limberger</td>
                                </tr>
                                <tr>
                                    <td>Norgren</td>
                                </tr>
                                <tr>
                                    <td>Pepperl+Fuchs</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>Siemens</td>
                                </tr>
                                <tr>
                                    <td>Spirax Sarco</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
                <div class="info-section_summary"></div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Пищевая</h1>
                    <p>
                        Пищевая промшленность — группа промышленных отраслей, производящих пищевые продукты в готовом виде или в виде полуфабрикатов, а также напитки, табачные изделия, в некоторых классификациях — также мыло и моющие средства (на жировых производствах).
                    </p>
                    <div class="columns __4">
                        <div class="column">
                            <table>
                                <tr>
                                    <td>Endress+Hauser</td>
                                </tr>
                                <tr>
                                    <td>Fristam Pumps</td>
                                </tr>
                                <tr>
                                    <td>GEA Tuchenhagen</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>GEMU</td>
                                </tr>
                                <tr>
                                    <td>Gestra</td>
                                </tr>
                                <tr>
                                    <td>Metal Work</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>Negele</td>
                                </tr>
                                <tr>
                                    <td>Prominent</td>
                                </tr>
                                <tr>
                                    <td>Siemens</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>
                                <tr>
                                    <td>Spirax Sarco</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>