<article class="brand-catalog">
    <div class="info-list">
        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"></div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Norgren</h1>
                    <p>
                        Компания Norgren специализируется в управлении жидкими и газообразными средами. Наиболее развитое направление деятельности компании связано с конструированием и изготовлением устройств управления сжатым воздухом.
                    </p>
                </div>

                <div class="brand-catalog_list">

                    <% catalog.forEach(function(catalogItem) { %>
                        <div class="brand-catalog_item">
                            <a <% if (catalogItem.link) {%>href="<%- catalogItem.link %>"<% } %>class="brand-catalog_card">
                                <div class="brand-catalog_card-title"><%- catalogItem.title %></div>
                                <div class="brand-catalog_card-cover">
                                    <% if (catalogItem.cover) {%>
                                        <img class="brand-catalog_card-img" src="<%- catalogItem.cover %>" />
                                    <% } else { %>
                                        stub
                                    <% } %>
                                </div>
                                <div class="brand-catalog_card-footer">
                                    <div class="brand-catalog_card_a">
                                    <% if (catalogItem.link) {%>
                                        Посмотреть каталог
                                    <% } else { %>
                                        Нет каталога
                                    <% } %>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% }); %>
                </div>
            </section>
        </div>
    </div>

</article>