<article class="catalog scroll-top-wrapper js-hook" data-module="ScrollTo">
    <div class="info-list">
        <div class="info-section">
            <aside class="info-section_aside">
                <div class="catalog-menu js-hook" data-module="ToggleHeight">
                    <div class="catalog-menu_title js-toggle-handle">Оглавление...</div>

                    <div class="catalog-menu_list js-toggle-body">

                        <div class="catalog-menu_item">
                            <a href="#ci1" class="catalog-menu_a">Модульная система Exelon</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci2" class="catalog-menu_a">Модульная система Olympian</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci3" class="catalog-menu_a">Модульная система Exelon PRO</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci4" class="catalog-menu_a">Фильтры Exelon</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci5" class="catalog-menu_a">Фильтры Olympian</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci6" class="catalog-menu_a">Фильтры Exelon PRO</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci7" class="catalog-menu_a">Фильтры для удаления масла Exelon</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci8" class="catalog-menu_a">Фильтры для удаления масла Olympian</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci9" class="catalog-menu_a">Фильтры для удаления масла Exelon PRO</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci10" class="catalog-menu_a">Магистральные фильтры Olympian</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci11" class="catalog-menu_a">Фильтр/регуляторы Exelon</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci12" class="catalog-menu_a">Фильтр/регуляторы Olympian</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci13" class="catalog-menu_a">Фильтр/регуляторы Exelon PRO</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci14" class="catalog-menu_a">Регуляторы Exelon</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci15" class="catalog-menu_a">Регуляторы Olympian</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci16" class="catalog-menu_a">Регуляторы Exelon PRO</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci17" class="catalog-menu_a">Прецизионные регуляторы давления</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci18" class="catalog-menu_a">Маслораспылители Exelon</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci19" class="catalog-menu_a">Маслораспылители Olympian</a>
                        </div>

                        <div class="catalog-menu_item">
                            <a href="#ci20" class="catalog-menu_a">Маслораспылители Exelon PRO</a>
                        </div>
                    </div>
                </div>
            </aside>
            <section class="info-section_main">
                <div class="breadcrumbs">
                    <span class="breadcrumbs_item">Каталог</span>
                    <a href="./brand.html" class="breadcrumbs_item">Norgren</a>
                </div>
                <div class="content">
                    <h1>Подготовка воздуха</h1>
                    <p>
                        Аппараты подготовки воздуха специализируется в управлении жидкими и газообразными средами. Наиболее развитое направление деятельности компании связано с конструированием и изготовлением устройств управления сжатым воздухом.
                    </p>
                </div>

                <div class="catalog_list">

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci1">
                        <div class="content">
                            <h2>Модульная система Exelon</h2>
                            <p>Воздухоподготовка серии Exelon имеет модульную конструкцию с быстроразъёмными держателями «Quiklamp», позволяющими разъединять трубопроводы; на обслуживание необходимо меньше времени.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">BL 72</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Комбинированный блок Фильтр/регулятор/маслораспылитель в комплекте с отсечным клапаном, манометром и настенными креплениями с присоединенями G1/4. Прозрачная колба. Температура окружающей среды: -20°C ... +50°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Ряд -->

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">BL 73</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Комбинированный блок Фильтр/регулятор/маслораспылитель в комплекте с отсечным клапаном, манометром и настенными креплениями с присоединенями G3/8. Прозрачная колба. Температура окружающей среды: -20°C ... +50°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Ряд -->

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">BL 74</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Комбинированный блок Фильтр/регулятор/маслораспылитель в комплекте с отсечным клапаном, манометром и настенными креплениями с присоединенями G1/2. Металлическая колба. Температура окружающей среды:-20°C ... +50°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci2">
                        <div class="content">
                            <h2>Модульная система Olympian</h2>
                            <p>Уникальная конструкция Olympian соединений, байонетные металлические колбы, новые стандарты для простоты применения и гибкости системного использования. Присоединения до G2</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">BL 64</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Комбинированный блок Фильтр/регулятор/маслораспылитель в комплекте с отсечным клапаном, манометром и настенными креплениями с присоединенями G1/2. Металлическая колба. Температура окружающей среды: -20°C ... +80°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">BL 68</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Комбинированный блок Фильтр/регулятор/маслораспылитель в комплекте с отсечным клапаном, манометром и настенными креплениями с присоединенями G1. Металлическая колба. Температура окружающей среды: -20°C ... +80°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci3">
                        <div class="content">
                            <h2>Модульная система Exelon PRO</h2>
                            <p>Бюджетная серия модульных блоков, гибкая конфигурация, отличная стоимость, для сборки не требуются инструменты</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">BL 92</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Комбинированный блок Фильтр/регулятор/маслораспылитель в комплекте с отсечным клапаном, манометром и настенными креплениями с присоединенями G1/4. Прозрачная колба. Температура окружающей среды:-20°C ... +52°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci4">
                        <div class="content">
                            <h2>Фильтры Exelon</h2>
                            <p>Конструкция Excelon представляет собой линейную установку или модульную установку с другими продуктами Excelon. Быстросъемная байонетная колба.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F72</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры общего применения с присоединениями от G1/4 до G3/8 с колбой из спечёного полипропилена, максимальное давление до 10 bar
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F73</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры общего применения с присоединениями от G1/4 до G1/2 с колбой из спечёного полипропилена, максимальное давление до 10 bar
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F74</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры общего применения с присоединениями от G3/8 до G3/4 с металлической колбой, максимальное давление до 10 bar
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci5">
                        <div class="content">
                            <h2>Фильтры Olympian</h2>
                            <p>Простое, быстрое объединение принадлежностей и комбинируемых блоков Olympian. Быстросъемная байонетная колба. Легкое снятие при обычном обслуживании. Действие стопора предотвращает снятие под давлением. Клапан мягкого пуска: Обеспечивает управляемое нарастание давления при запуске системы. Обеспечивает высокий поток выхлопа.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F64G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Эффективное удаление жидкости и твердых частиц, большая площадь фильтрующего элемента для минимального перепада давления. Температура окружающей среды: -20°C ... +80°C  Присоединения G1/4 ... G3/4
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F68G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Эффективное удаление жидкости и твердых частиц, большая площадь фильтрующего элемента для минимального перепада давления. Температура окружающей среды: -20°C ... +80°C  Присоединения G3/4 ... G1 1/2, максимальное давление до 17bar
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci6">
                        <div class="content">
                            <h2>Фильтры Exelon PRO</h2>
                            <p>Бюджетная серия модульных блоков, гибкая конфигурация, отличная стоимость, для сборки не требуются инструменты</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">BL 92</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Температура окружающей среды: -20°C ... +52°C, присоединения Ø 8 мм... G 1/4, максимальное давление до 10 bar
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci7">
                        <div class="content">
                            <h2>Фильтры для удаления масла Exelon</h2>
                            <p>Конструкция Excelon представляет собой линейную установку или модульную установку с другими продуктами Excelon. Быстросъемная байонетная колба.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F72C</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры для удаления масла с присоединениями от G1/4 до G3/8 с цинковым корпусом и колбой из поликарбоната, максимальное давление 8 bar, температура окружающей среды: -34°C ... +50°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F73C</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры для удаления масла с присоединениями от G1/4 до G1/2 с алюминиевым корпусом и колбой из поликарбоната, максимальное давление 10 bar, температура окружающей среды: -34°C ... +50°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F74C</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры для удаления масла с присоединениями от G3/8 до G1/2 с алюминиевым корпусом и колбой из поликарбоната, максимальное давление 10 bar, температура окружающей среды: -34°C ... +50°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F74H</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры для удаления масла с присоединениями от G1/2 до G3/4 с алюминиевым корпусом и колбой из поликарбоната, максимальное давление 10 bar, температура окружающей среды: -34°C ... +50°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci8">
                        <div class="content">
                            <h2>Фильтры для удаления масла Olympian</h2>
                            <p>Простое, быстрое объединение принадлежностей и комбинируемых блоков Olympian. Быстросъемная байонетная колба. Легкое снятие при обычном обслуживании. Действие стопора предотвращает снятие под давлением. Клапан мягкого пуска : Обеспечивает управляемое нарастание давления при запуске системы. Обеспечивает высокий поток выхлопа.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F64C/H</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры для удаления масла с присоединениями от G1/4 до G3/4 с цинковым корпусом и колбой из алюминия, максимальное давление 17 bar, температура окружающей среды: -20°C ... +65°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F68C/H</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры для удаления масла с присоединениями от G1/2 до G1 с алюминиевым корпусом и колбой, максимальное давление 17 bar, температура окружающей среды: -20°C ... +65°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F64B/L</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры с двойной функцией для удаления масла и паров масла с присоединениями от G1/4 до G3/4 с цинковым корпусом и колбой, максимальное давление 17 bar, температура окружающей среды: -20°C ... +65°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">FFV68</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Комплект из двух отдельных фильтров для удаления масла и паров масла с присоединениями от G1/2 до G1 с алюминиевым корпусом и колбой, максимальное давление 17 bar, температура окружающей среды: -20°C ... +65°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci9">
                        <div class="content">
                            <h2>Фильтры для удаления масла Exelon PRO</h2>
                            <p>Бюджетная серия модульных блоков, гибкая конфигурация, отличная стоимость, для сборки не требуются инструменты</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F92C</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры для удаления масла с присоединениями от G1/4 до G3/4 с PBT корпусом и колбой из поликарбоната, максимальное давление 8 bar, температура окружающей среды: -20°C ... +52°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci10">
                        <div class="content">
                            <h2>Магистральные фильтры Olympian</h2>
                            <p>Прямые канальные фильтры с высокоэффективным удалением воды, имеющие автоматический дренаж и обеспечивающие высокий расход с минимальным перепадом давления.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F17</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры для удаления масла с присоединениями от G3/4 до G1 с корпусом и колбой из алюминия, максимальное давление 17 bar, температура окружающей среды: -20°C ... +80°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">F18</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры для удаления масла с присоединениями от G1 1/2 до G2 с корпусом и колбой из алюминия, максимальное давление 17 bar, температура окружающей среды: -20°C ... +80°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci11">
                        <div class="content">
                            <h2>Фильтр/регуляторы Exelon</h2>
                            <p>Конструкция Excelon представляет собой линейную установку или модульную установку с другими продуктами Excelon. Быстросъемная байонетная колба.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">B72G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры общего применения в комплекте с регулятором с присоединениями от G1/4 до G3/8 с колбой из цинка или поликарбоната и корпусом из цинка, максимальное давление до 10 bar, температура окружающей среды: -34°C ... +50°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">B73G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры общего применения в комплекте с регулятором с присоединениями от G1/4 до G1/2 с колбой из алюминия или поликарбоната и корпусом из алюминия, максимальное давление до 17 bar, температура окружающей среды: -34°C ... +50°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">B74G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры общего применения в комплекте с регулятором с присоединениями от G3/8 до G3/4 с колбой из алюминия или поликарбоната и корпусом из алюминия, максимальное давление до 17 bar, температура окружающей среды: -34°C ... +50°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci12">
                        <div class="content">
                            <h2>Фильтр/регуляторы Olympian</h2>
                            <p>Прямые канальные фильтры с высокоэффективным удалением воды, имеющие автоматический дренаж и обеспечивающие высокий расход с минимальным перепадом давления.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">B64G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры общего применения в комплекте с регулятором с присоединениями от G1/4 до G3/4 с колбой из алюминия и корпусом из цинка, максимальное давление 17 bar, температура окружающей среды: -20°C ... +80°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">B68G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры общего применения в комплекте с регулятором с присоединениями от G3/4 до G1 1/2 с колбой и корпусом из алюминия, максимальное давление 17 bar, температура окружающей среды: -20°C ... +80°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci13">
                        <div class="content">
                            <h2>Фильтр/регуляторы Exelon PRO</h2>
                            <p>Бюджетная серия модульных блоков, гибкая конфигурация, отличная стоимость, для сборки не требуются инструменты</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">B92G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Фильтры общего применения в комплекте с регулятором с присоединениями G1/4 с колбой из поликарбоната и корпусом из PBT, максимальное давление до 12 bar, температура окружающей среды: -20°C ... +52°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci14">
                        <div class="content">
                            <h2>Регуляторы Exelon</h2>
                            <p>Конструкция Excelon представляет собой линейную установку или модульную установку с другими продуктами Excelon. Уравнительный клапан расчитан на оптимальную регулировку давления.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">R72G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Регуляторы давления из цинка с присоединениями от G1/4 до G3/8, максимальное давление до 20 bar, температура окружающей среды: -34°C ... +65°C, диапазон регулировок до 10 bar
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">R73G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Регуляторы давления из алюминия с присоединениями от G1/4 до G1/2, максимальное давление до 20 bar, температура окружающей среды: -34°C ... +65°C, диапазон регулировок до 17 bar
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">R74G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Регуляторы давления из алюминия с присоединениями от G3/8 до G3/4, максимальное давление до 20 bar, температура окружающей среды: -34°C ... +65°C, диапазон регулировок до 17 bar
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci15">
                        <div class="content">
                            <h2>Регуляторы Olympian</h2>
                            <p>Регуляторы Olympian благодаря сбалансированной конструкции обеспечивают хорошие регулировочные характеристики. Стандартные опции включают модели без понижения и альтернативные диапазоны давления.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">R64G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Регуляторы давления из цинка с присоединениями от G1/4 до G3/4, максимальное давление до 17 bar, температура окружающей среды: -20°C ... +80°C, диапазон регулировок до 17 bar
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">R68G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Регуляторы давления из алюминия с присоединениями от G3/4 до G1 1/2, максимальное давление до 20 bar, температура окружающей среды: -20°C ... +80°C, диапазон регулировок до 17 bar
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci16">
                        <div class="content">
                            <h2>Регуляторы Exelon PRO</h2>
                            <p>Бюджетная серия модульных блоков, гибкая конфигурация, отличная стоимость, для сборки не требуются инструменты</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">R92G</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Регуляторы давления из PBT с присоединениями G1/4, максимальное давление до 12 bar, температура окружающей среды: -20°C ... +60°C
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci17">
                        <div class="content">
                            <h2>Прецизионные регуляторы давления</h2>
                            <p>Высокоточные ручные регуляторы давления, обладающие высокой чувствительностью и точностью. </p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">11-818</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Регуляторы давления из цинка с присоединениями G1/4, температура окружающей среды: 0°C ... +70°C, диапазон регулировок до 10 bar, точность от 0,01 до 0,05 bar
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">R27</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Регуляторы давления из цинка, имеющие штурвальное, уровневое, плунжерное или пилотное управление с присоединениями G1/4, температура окружающей среды: -20°C ... +70°C, диапазон регулировок до 8 bar, точность до 0,3 mbar
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci18">
                        <div class="content">
                            <h2>Маслораспылители Exelon</h2>
                            <p>Конструкция Excelon представляет собой линейную установку или модульную установку с другими продуктами Excelon. Датчик потока обеспечивает почти постоянное отношение масло/воздух по широкому диапазону расхода. Круговой обзор купола маслораспылителя обеспечивает простоту регулирования и легкость наблюдения за подачей масла.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">L72</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Маслораспылитель с корпусом из цинка и колбой из поликарбоната с присоединениями от G1/4 до G3/8, максимальное давление 10 bar, температура окружающей среды: -20°C ... +50°C, оснащен колбой 0,05 литра
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">L73</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Маслораспылитель с корпусом из алюминия и колбой из поликарбоната с присоединениями от G1/4 до G1/2, максимальное давление 10 bar, температура окружающей среды: -20°C ... +50°C, оснащен колбой 0,1 литра
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">L74</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Маслораспылитель с корпусом из алюминия и колбой из поликарбоната с присоединениями от G3/8 до G3/4, максимальное давление 10 bar, температура окружающей среды: -20°C ... +50°C, оснащен колбой 0,2 литра
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci19">
                        <div class="content">
                            <h2>Маслораспылители Olympian</h2>
                            <p>Вставной микротуманный маслораспылитель Olympian используется для лучшего распыления масла в основных пневматических применениях. Доступна опция маслянного тумана.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">L64</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Маслораспылитель из цинка с присоединениями от G1/4 до G3/4, максимальное давление до 17 bar, температура окружающей среды: -20°C ... +80°C, оснащен колбой 0,2 литра
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">L68</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Маслораспылитель из алюминия с присоединениями от G3/4 до G1 1/2, максимальное давление до 17 bar, температура окружающей среды: -20°C ... +80°C, оснащен колбой 0,5 литра
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Элемент каталога -->
                    <div class="catalog_item" id="ci20">
                        <div class="content">
                            <h2>Маслораспылители Exelon PRO</h2>
                            <p>Бюджетная серия модульных блоков, гибкая конфигурация, отличная стоимость, для сборки не требуются инструменты.</p>
                        </div>
                        <div class="catalog_table pseudotable">
                            <div class="pseudotable_row">
                                <div class="pseudotable_cell catalog_series">
                                    <div class="pseudotable_cell-title">Серия</div>
                                    <div class="pseudotable_cell-content">L92C</div>
                                </div>
                                <div class="pseudotable_cell catalog_description">
                                    <div class="pseudotable_cell-title">Описание</div>
                                    <div class="pseudotable_cell-content">
                                        Маслораспылитель с корпусом из PBT и колбой из поликарбоната с присоединениями G1/4, максимальное давление 12 bar, температура окружающей среды: -20°C ... +52°C, оснащен колбой 52 мл
                                    </div>
                                </div>
                                <div class="pseudotable_cell catalog_specification">
                                    <div class="pseudotable_cell-title">Каталог</div>
                                    <div class="pseudotable_cell-content">
                                        <a href="#" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>

    <div class="scroll-top js-scroll-top">
        <a class="scroll-top_icon" href="#"></a>
    </div>
</article>