<article>
    <div class="info-list">
        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
                <div class="info-section_summary">
                    150 клиентов постоянно работают с нами
                </div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Опыт</h1>
                    <h3>Компания</h3>
                    <p>
                        «Передовые технологии» основаны в 2011 году. Мы начинали с командой из трех человек и домашним офисом. Уже в первый год нам стало тесно — количество сотрудников увеличилось втрое. Показатель нашей эффективности — доверие 150 постоянных клиентов и их количество растет. Головной офис находится в Санкт-Петербурге, а работаем мы с регионами от Калининграда до Владивостока.
                    </p>

                    <h3>С кем работаем</h3>
                    <p>
                        Вместе с партнерами мы обслуживаем нефтехимическую, металлургическую, деревообрабатывающую промышленность и другие производственные предприятия.
                    </p>

                    <h3>Что делаем</h3>
                    <p>
                        Поставляем оборудование и запчасти, устанавливаем его, запускаем и обслуживаем. Модернизируем заводы и производственные линии. <br />
                        Мы работаем с ведущими производителями промышленного оборудования.
                    </p>
                </div>
            </section>
        </div>

        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
                <div class="info-section_summary">
                    6 лет мы успешно работаем на рынке
                </div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Подход</h1>

                    <h3>Скорость прежде всего</h3>
                    <p>
                        Мы стремимся упростить работу с заказчиками и сделать ее быстрее. В режиме одного окна подбираем самое выгодное предложение от наших поставщиков. Поддерживаем постоянный запас на складе по основным позициям и брендам. Отгружаем заказ тот же день или на следующий. В процессе формирования поставки проверяем номера деталей и привозим только то, что нужно. Кроме того, прямая работа с производителем исключает покупку подделок.
                    </p>

                    <h3>6 лет на рынке</h3>
                    <p>
                        В 2017 году нам исполнилось 6 лет, но мы по-прежнему относимся к бизнесу как в самом начале работы, когда нам приходилось биться за каждого нового клиента и доказывать, что мы лучше. За эти годы мы завоевали доверие клиентов и поставщиков, огромных корпораций и маленьких компаний. Наша репутация строится на том, что мы одинаково ответственно относимся к большим и маленьким заказам.
                    </p>

                    <h3>О главном</h3>
                    <p>
                        Любое производство нуждается в оборудовании или его обслуживании. Оно устаревает, ломается, не справляется с потребностями растущей компании. А каждая остановка — это потерянное время и деньги. Это головная боль наших клиентов, которую мы стараемся если не устранить полностью, то минимизировать насколько это возможно. Мы прочувствовали эти моменты на себе и поэтому делаем ставку на развитие складской инфраструктуры, автоматизации заказа и легкости клиентского сервиса. Мы не гонимся за призрачными перспективами и концентрируемся на том, что будет важно всегда — широкий выбор позиций, гарантированный сервис и быстрая доставка.
                    </p>

                </div>
            </section>
        </div>

        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
                <div class="info-section_summary">
                    Экономим время клиентов
                </div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Сокращение расходов</h1>
                    <p>
                        Обслуживание производства — это всегда простой оборудования.
                        Мы сокращаем его, поставляя все необходимое для ремонта. При необходимости мы храним минимальный запас материалов под потребности постоянного клиента. Наша задача — быстро доставить нужное оборудование и сократить время простоя.
                    </p>

                    <table>
                        <tr>
                            <td>Поставка запчастей</td>
                        </tr>
                        <tr>
                            <td>Комплектующие</td>
                        </tr>
                        <tr>
                            <td>Полная документация</td>
                        </tr>
                        <tr>
                            <td>Заказ в одном окне</td>
                        </tr>
                        <tr>
                            <td>Доставка до двери или самовывоз</td>
                        </tr>
                        <tr>
                            <td>Сервисное обслуживание и гарантия</td>
                        </tr>
                    </table>

                    <div class="columns __2">
                        <div class="column">
                            <h3>Гарантия низкой цены</h3>
                            <p>
                                Мы даем гарантию минимальной стоимости комплектующих. Здесь все как в розничной сети, если у вас есть предложение с меньшей ценой, пришлите его нам. Мы сможем сделать дешевле!
                            </p>
                        </div>
                        <div class="column">
                            <h3>Выбор</h3>
                            <p>
                                Наши специалисты помогут выбрать оптимальный вариант среди десятков наименований аналогичных комплектующих. Поэтому всегда можно подобрать решение, которое подойдет по соотношению «цена/качество».
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
                <div class="info-section_summary">
                    Обширная география поставок
                </div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Клиенты</h1>
                    <p>
                        География наших клиентов обширна. Мы помогаем региональным компаниям поддерживать производственные линии в хорошем техническом состоянии.
                    </p>

                    <img src="img/russia.svg" alt="География поставок" width="100%" class="country-map" />

                    <div class="columns __table __3">
                        <div class="column">
                            <table>

                                <tr>
                                    <td>1. Москва</td>
                                </tr>
                                <tr>
                                    <td>2. Санкт-Петербург</td>
                                </tr>
                                <tr>
                                    <td>3. Ангарск</td>
                                </tr>
                                <tr>
                                    <td>4. Апатиты</td>
                                </tr>
                                <tr>
                                    <td>5. Архангельск</td>
                                </tr>
                                <tr>
                                    <td>6. Братск</td>
                                </tr>
                                <tr>
                                    <td>7. Белгород</td>
                                </tr>
                                <tr>
                                    <td>8. Волгоград</td>
                                </tr>
                                <tr>
                                    <td>9. Воронеж</td>
                                </tr>
                                <tr>
                                    <td>10. Великие Луки</td>
                                </tr>
                            </table>
                        </div>

                        <div class="column">
                            <table>

                                <tr>
                                    <td>11. Великий Новгород</td>
                                </tr>
                                <tr>
                                    <td>12. Дзержинск</td>
                                </tr>
                                <tr>
                                    <td>13. Екатеринбург</td>
                                </tr>
                                <tr>
                                    <td>14. Иркутск</td>
                                </tr>
                                <tr>
                                    <td>15. Киров</td>
                                </tr>
                                <tr>
                                    <td>16. Костомукша</td>
                                </tr>
                                <tr>
                                    <td>17. Калуга</td>
                                </tr>
                                <tr>
                                    <td>18. Краснодар</td>
                                </tr>
                                <tr>
                                    <td>19. Красноярск</td>
                                </tr>
                                <tr>
                                    <td>20. Новосибирск</td>
                                </tr>

                            </table>
                        </div>

                        <div class="column">
                            <table>

                                <tr>
                                    <td>21. Новомосковск</td>
                                </tr>
                                <tr>
                                    <td>22. Петрозаводск</td>
                                </tr>
                                <tr>
                                    <td>23. Пермь</td>
                                </tr>
                                <tr>
                                    <td>24. Саранск</td>
                                </tr>
                                <tr>
                                    <td>25. Самара</td>
                                </tr>
                                <tr>
                                    <td>26. Тольятти</td>
                                </tr>
                                <tr>
                                    <td>27. Тверь</td>
                                </tr>
                                <tr>
                                    <td>28. Уфа</td>
                                </tr>
                                <tr>
                                    <td>29. Череповец</td>
                                </tr>
                                <tr>
                                    <td>30. Челябинск</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>