<article>
    <div class="info-list">
        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
                <div class="info-section_description">
                    <%- partial("_partials/_contact-info"); %>
                </div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Контакты</h1>
                    <p>
                        Наш офис находится в Московском районе. Прежде чем приехать к нам, пожалуйста, позвоните.
                    </p>
                </div>
                <%- partial("_partials/_contact-map"); %>
            </section>
        </div>

        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Позиции и сроки</h1>
                    <p>
                        Популярные запчасти мы держим на складе, а это сокращает срок доставки до нескольких дней:
                    </p>

                    <table class="table-notbalance">
                        <caption>Складская программа</caption>

                        <tr>
                            <th>Тип</th>
                            <th>Доставка</th>
                        </tr>

                        <tr>
                            <td>1. Автоматизация и КИП</td>
                            <td rowspan="3">3 дня</td>
                        </tr>
                        <tr>
                            <td>2. Низковольтное оборудование</td>
                        </tr>
                        <tr>
                            <td>3. Электротехнические корпусы</td>
                        </tr>

                    </table>

                    <table class="table-notbalance">
                        <caption>Складская программа</caption>

                        <tr>
                            <th>Тип</th>
                            <th>Доставка</th>
                        </tr>

                        <tr>
                            <td>1. Электродвигатели и частотные преобразователи</td>
                            <td rowspan="3">от 14 дней</td>
                        </tr>
                        <tr>
                            <td>2. Гидравлические и пневматические компоненты</td>
                        </tr>
                        <tr>
                            <td>3. Компоненты производственных линий</td>
                        </tr>

                    </table>
                </div>
            </section>
        </div>
    </div>
</article>