<article class="history">
    <div class="pseudotable history_list">
        <% goods.forEach(function(good, i) { %>

            <div class="pseudotable_row">
                <div class="pseudotable_cell history-vendor">
                    <div class="pseudotable_cell-title">Производитель</div>
                    <div class="pseudotable_cell-content"><%= good.vendor %></div>
                </div>
                <div class="pseudotable_cell history-product">
                    <div class="pseudotable_cell-title">Наименование</div>
                    <div class="pseudotable_cell-content __two-lines"><%= good.article %> <%= good.product %></div>
                </div>
                <div class="pseudotable_cell history-order">
                    <div class="pseudotable_cell-title"></div>
                    <div class="pseudotable_cell-content">
                        <a class="js-hook" data-module="Order" data-vendor="<%= good.vendor %>" data-article="<%= good.article %>" href="./order/?id=<%= i %>">Запрос</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

    <div class="history_pagination">
        <%- partial("_partials/_pagination"); %>
    </div>
</article>