<article>
    <%- partial("_partials/_vendors"); %>

    <div class="info-list">
        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Нам не все равно</h1>
                    <p>
                        Мы относимся к клиентам так, как хотели бы, чтобы относились к нам.
                        Мы даем варианты выбора доставки до дверей или самовывоза, отсрочку платежа и постоянное поддержание на складе редких позиций по запросу. Нашей целью всегда была продуктивная работа, сплоченность коллектива, который мы ценим как вторую семью, довольные клиенты и активный рост.
                        Мы верим в правильный бизнес, в котором мы уделяем внимание важным вещам, дорожим репутацией и растем вместе с клиентами. Предыдущие 6 лет подтверждают, что мы на верном пути.
                    </p>
                </div>
            </section>
        </div>

        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Преимущества</h1>
                    <p>
                        Мы работаем с разными компаниями и сохраняем гибкость, чтобы быть лучшими. Фиксированными остаются только наши принципы работы с клиентами:
                    </p>
                    <div class="columns __2">
                        <div class="column">
                            <h3>Техническая поддержка</h3>
                            <p>Опытные инженеры ответят на вопросы и помогут с настройкой оборудования.</p>

                            <h3>Оперативный ответ</h3>
                            <p>Мы быстро отвечаем на электронную почту. Поэтому не переживайте, что письмо или заявка потеряются. Мы обязательно дадим знать, когда получим ваш запрос.</p>

                            <h3>Соблюдение сроков доставки</h3>
                            <p>Мы вернем 0.1% от суммы заказа за каждый день просрочки.</p>

                            <h3>Проекты любых размеров</h3>
                            <p>У нас отсутствуют ограничения по размеру и сумме заказа.</p>

                            <h3>Широкий выбор позиций</h3>
                            <p>Поставки оборудования производителей, не представленных на российком рынке.</p>
                        </div>
                        <div class="column">
                            <h3>Гарантия оригинальности</h3>
                            <p>Мы работаем напрямую с производителем, вы получаете гарантию и сертификаты качества продукции.</p>

                            <h3>Гарантия низкой цены</h3>
                            <p>Нашли более выгодное предложение? Вышлите его нам и получите скидку от предложенной вам цены</p>

                            <h3>Доставка до дверей</h3>
                            <p>Вам не нужно переживать о том, как забирать и везти запчасти. Меньше работы логиста — больше экономии времени. Мы все доставим прямо до дверей и передадим в руки вашим техникам и инженерам.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Клиенты</h1>
                    <p>Мы рады сотрудничеству с компаниями, которые добились значительных результатов в своих отраслях.</p>
                </div>
            </section>
        </div>

        <%- partial("_partials/_clients"); %>
    </div>
</article>
