<article>
    <div class="info-list">
        <div class="info-section">
            <aside class="info-section_aside">
                <div class="info-section_counter"><%- id %></div>
                <div class="info-section_summary">
                    Делаем производства эффективнее
                </div>
            </aside>
            <section class="info-section_main">
                <div class="content">
                    <h1>Модернизируем<br /> и ремонтируем</h1>
                    <h3>Пусконаладка и ремонт</h3>
                    <p>
                        Совместно с партнерами мы проводим ремонт любого технического оборудования и автоматизированных линий. Мы берем на себя решение проблемы: находим неисправность, заказываем запчасти и проводим ремонт.
                        Вам остается только принять результат.
                    </p>

                    <table>
                        <caption>Виды работ</caption>
                        <tr>
                            <td>Ремонт</td>
                        </tr>
                        <tr>
                            <td>Заказ запчастей</td>
                        </tr>
                        <tr>
                            <td>Гарантийный послеремонтный период</td>
                        </tr>
                        <tr>
                            <td>Ответственный менеджер проекта</td>
                        </tr>
                        <tr>
                            <td>Исполнение работ под ключ</td>
                        </tr>
                    </table>

                    <br /><br /><br />

                    <h3>Обслуживание и модернизация</h3>
                    <p>
                        Мы занимаемся техническим обслуживанием и модернизацией любого технического оборудования и автоматизированных линий вместе с партнерами. На выполненный объем работ распространяется гарантия.
                    </p>

                    <table>
                        <caption>Виды работ</caption>
                        <tr>
                            <td>Проектирование</td>
                        </tr>
                        <tr>
                            <td>Заказ запчастей</td>
                        </tr>
                        <tr>
                            <td>Исполнение работ</td>
                        </tr>
                        <tr>
                            <td>Проверка оборудования</td>
                        </tr>
                        <tr>
                            <td>Техническое обслуживание в соответствии с рекомендациями</td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </div>
</article>