<div class="clients">
    <img src="./img/clients/severstal.svg" width="160" height="50" class="clients_img" alt="Северсталь" />
    <img src="./img/clients/michelin.svg" width="173" height="52" class="clients_img" alt="Michelin" />
    <img src="./img/clients/ilim.svg" width="146" height="38" class="clients_img" alt="Илим" />
    <img src="./img/clients/man.svg" width="99" height="55" class="clients_img" alt="Man" />
    <img src="./img/clients/pg.svg" width="52" height="52" class="clients_img" alt="Procter & Gamble" />
    <img src="./img/clients/novartis.svg" width="175" height="27" class="clients_img" alt="Novartis" />
    <img src="./img/clients/nokian.svg" width="120" height="29" class="clients_img" alt="Nokian" />
    <img src="./img/clients/alpla.svg" width="136" height="26" class="clients_img" alt="Alpla" />
</div>