<div class="compact-contact-info">
    <div class="compact-contact-info_item">Пн—Пт: 10—18:00</div>
    <div class="compact-contact-info_item">Т — 8 (812) 309 29 45</div>
    <div class="compact-contact-info_item">E — <a href="mailto:info@perteq.ru">info@perteq.ru</a></div>
</div>