<div class="contact-info">
    <div class="content">
        <p>
            Т — 8 (812) 309 29 45<br />
            M — +7 (921) 309 14 00
        </p>
        <ul>
            <li>Telegram</li>
            <li>Viber</li>
            <li>WhatsApp</li>
        </ul>
        <p>
            E — <a href="mailto:info@perteq.ru">info@perteq.ru</a><br />
            Пн—Пт: 10—18:00
        </p>
        <p>
            ул.&nbsp;Рощинская, дом&nbsp;32, офис&nbsp;201, Санкт-Петербург, Россия
        </p>
    </div>
</div>