<div class="contact-map" >
    <div class="contact-map_text">
        <%- partial("_contact-info"); %>
    </div>
    <div class="contact-map_image" id="map"></div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl2Aa1dUhkl9u2J2uZ3UTnqetcJxo_dI0"></script>

<script type="text/javascript">
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var mapOptions = {
            // How zoomed in you want the map to start at (always required)
            zoom: 15,

            mapTypeControl: false,
            streetViewControl: false,
            scrollwheel: false,

            // The latitude and longitude to center the map (always required)
            center: new google.maps.LatLng(59.882008, 30.336907),

            // How you would like to style the map.
            // This is where you would paste any style found on Snazzy Maps.
            styles: [{"stylers":[{"hue":"#ff1a00"},{"invert_lightness":false},{"saturation":-100},{"lightness":-30},{"gamma":0.9}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#2D333C"}]}]
        };

        // Get the HTML DOM element that will contain your map
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('map');

        // Create the Google Map using our element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);

        // Let's also add a marker while we're at it
        var pinIcon = {
            path: 'M 0 7.2 7.3 0 25.7 0 33 7.2 33 25.3 18.3 47 14.7 47 0 25.3 0 7.2z',
            strokeWeight: 0,
            fillColor: '#14E3B2',
            fillOpacity: 1,
            rotation: 0,
            scale: 1.0,
            anchor: new google.maps.Point(16, 47)
        };

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(59.882008, 30.336907),
            map: map,
            icon: pinIcon
        });
    }
</script>

<style>
    .gm-style-cc {
        display: none !important
        }
</style>
