<% if(cover || title) { %>

    <div class="cover">

        <% if(Array.isArray(cover)) { %>

            <div class="swiper-container js-hook" data-module="Slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <% cover.forEach(function(coverImage, i) { %>
                        <div class="swiper-slide">
                            <figure class="cover_item">
                                <img class="cover_img swiper-lazy" data-src="<%- coverImage %>" alt="<%- title[i] %>" />
                                <figcaption class="cover_container">
                                    <div class="cover_text">
                                        <div class="cover_title">
                                            <%- title[i] %>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    <% }); %>

                </div>

                <div class="swiper-footer">
                    <div class="swiper-pagination"></div>
                </div>
            </div>

        <% } else { %>

            <% if(cover) { %>
                <figure class="cover_item">
                    <img class="cover_img" src="<%- cover %>" alt="<%- title %>" />

                    <figcaption class="cover_container">
                        <div class="cover_text">
                            <div class="cover_title">
                                <%- title %>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            <% } %>

        <% } %>

    </div>
<% } %>