<footer class="footer">
    <div class="footer_row">
        <div class="footer_aside">
            <div class="footer_logo">
                <%- partial("_logo", {"cssMod": "__medium"}); %>
            </div>
        </div>
        <div class="footer_main">
            <div class="footer_order-button">
                <%- partial("_order-button"); %>
            </div>
        </div>
    </div>

    <div class="footer_row __alt">
        <div class="footer_aside">
            <div class="footer_info">
                <%- partial("_contact-info"); %>
                <div class="footer_nav">
                    <div class="content">
                        <p>
                            <a href="./contacts.html">Схема проезда</a><br />
                            <a href="./history.html">История заказов</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_main">
            <div class="footer_slogan">
                <div class="content">
                    <h1>Для начала работы свяжитесь любым наиболее удобным способом.</h1>
                    <h1>Мы подберем оптимальное решение, произведем расчет стоимости и свяжемся с вами в&nbsp;течение 24 часов.</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_row __alt">
        <div class="footer_aside">
            <div class="footer_copyright">
                <div class="content">
                    Передовые технологии<br />
                    &copy; 2011 — 2017
                </div>
            </div>
        </div>
        <div class="footer_main">
            <div class="footer_target">
                <div class="content">
                    Запчасти и комплектующие для производства.<br />
                    Сервисное обслуживание оборудования
                </div>
            </div>
        </div>
    </div>
</footer>