<label class="input-wrapper js-hook" data-module="InputText">
    <% if(!type){ %>
        <textarea class="input-text js-text" name="<%- name %>" placeholder="<%- placeholder %>"><%- value %></textarea>
    <% }else{ %>
        <input type="<%- type %>" class="input-text js-text" name="<%- name %>" value="<%- value %>" placeholder="<%- placeholder %>" <%- required ? "required='required'" : ""%> />
    <% } %>
    <span class="input-label">
        <%- placeholder %><% if(required){ %><span class="input-label_required">*</span><% } %>
    </span>
</label>