<nav class="nav-menu">
    <div class="nav-menu_item __has-dropdown">
        <div class="nav-menu_title <%- current.path[0]  === 'brand' ? '__active' : '' %>">Каталог</div>
        <div class="nav-menu_dropdown">
            <div class="nav-menu_dropdown-container">
                <a href="./brand.html" class="nav-menu_subitem">Balluff</a>
                <a href="./brand.html" class="nav-menu_subitem">Beckhoff</a>
                <a href="./brand.html" class="nav-menu_subitem">Bosch Rexroth</a>
                <a href="./brand.html" class="nav-menu_subitem">Buschjost</a>
                <a href="./brand.html" class="nav-menu_subitem">Endress Hauser</a>
                <a href="./brand.html" class="nav-menu_subitem">GHR</a>
                <a href="./brand.html" class="nav-menu_subitem">Herion</a>

                <a href="./brand.html" class="nav-menu_subitem">Hydac</a>
                <a href="./brand.html" class="nav-menu_subitem">Keyence</a>
                <a href="./brand.html" class="nav-menu_subitem">Kracht</a>
                <a href="./brand.html" class="nav-menu_subitem">Maxseal</a>
                <a href="./brand.html" class="nav-menu_subitem">Metal Work</a>
                <a href="./brand.html" class="nav-menu_subitem <%- current.path[0]  === 'brand' ? '__active' : '' %>">Norgren</a>
                <a href="./brand.html" class="nav-menu_subitem">Pepperl+Fuchs</a>

                <a href="./brand.html" class="nav-menu_subitem">Pilz</a>
                <a href="./brand.html" class="nav-menu_subitem">Prominent</a>
                <a href="./brand.html" class="nav-menu_subitem">Sauer Danfos</a>
                <a href="./brand.html" class="nav-menu_subitem">Siemens</a>
                <a href="./brand.html" class="nav-menu_subitem">Spirax Sarco</a>
                <a href="./brand.html" class="nav-menu_subitem">Thompson Valves</a>
                <a href="./brand.html" class="nav-menu_subitem">UWT</a>
            </div>
        </div>
    </div>

    <div class="nav-menu_item">
        <a href="./service.html" class="nav-menu_title <%- current.path[0] === 'service' ? '__active' : '' %>">Сервис</a>
    </div>

    <div class="nav-menu_item">
        <a href="./areas.html" class="nav-menu_title <%- current.path[0]  === 'areas' ? '__active' : '' %>">Отрасли</a>
    </div>

    <div class="nav-menu_item">
        <a href="./company.html" class="nav-menu_title <%- current.path[0]  === 'company' ? '__active' : '' %>">Компания</a>
    </div>

    <div class="nav-menu_item">
        <a href="./contacts.html" class="nav-menu_title <%- current.path[0]  === 'contacts' ? '__active' : '' %>">Контакты</a>
    </div>

    <div class="nav-menu_item">
        <a href="./order.html" class="nav-menu_title js-hook" data-module="Order">Запрос</a>
    </div>
</nav>