<div class="order-popup invert js-modal js-hook <%- isVisible === true ? '__active' : ''%>" data-module="OrderForm" data-visible="<%- isVisible%>" tabindex="0">

    <div class="order-popup_container">
        <div class="order-popup_holder">
            <form action="./order.html" method="POST">
                <div class="order-popup_description">
                    Для начала работы заполните форму. Мы подберем оптимальное решение, произведем расчет и свяжемся с вами в течение 24 часов
                </div>
                <div class="order-popup_line __columns">
                    <div class="order-popup_cell">
                        <%- partial("_input-text", {
                            type: "text",
                            name: "name",
                            placeholder: "Имя",
                            required: true
                        }); %>
                    </div>
                    <div class="order-popup_cell">
                        <%- partial("_input-text", {
                            type: "text",
                            name: "company",
                            placeholder: "Компания",
                            required: true
                        }); %>
                    </div>
                </div>

                <div class="order-popup_line __columns">
                    <div class="order-popup_cell">
                        <%- partial("_input-text", {
                            type: "tel",
                            name: "phone",
                            placeholder: "Телефон",
                            required: true
                        }); %>
                    </div>
                    <div class="order-popup_cell">
                        <%- partial("_input-text", {
                            type: "email",
                            name: "email",
                            placeholder: "Электронная почта"
                        }); %>
                    </div>
                </div>

                <div class="order-popup_line __columns">
                    <div class="order-popup_cell">
                        <%- partial("_input-text", {
                            type: "text",
                            name: "vendor",
                            placeholder: "Производитель",
                            value: "Baluff"
                        }); %>
                    </div>
                    <div class="order-popup_cell">
                        <%- partial("_input-text", {
                            type: "text",
                            name: "article",
                            placeholder: "Серия | Артикул"
                        }); %>
                    </div>
                </div>

                <div class="order-popup_line">
                    <%- partial("_input-text", {
                        name: "message",
                        placeholder: "Сообщение"
                    }); %>
                </div>

                <div class="order-popup_footer" id="order-popup-status">
                    <label class="checkbox-wrapper">
                        <input type="checkbox" class="checkbox" name="agree" checked="checked" required="required" />
                        <span class="checkbox-label">
                            я даю согласие на обработку моих персональных данных<br /> в соответствии с <a href="./privacy-policy.html">политикой конфиденциальности</a>
                        </span>
                    </label>

                    <div class="order-popup_status __error">
                        Вы должны согласиться с условиями обработки ваших персональных данных
                    </div>
                    <div class="order-popup_status __success">
                        Ваш запрос отправлен!
                    </div>
                </div>

                <div class="order-popup_footer __columns">
                    <div class="order-popup_cell">
                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                        <div class="g-recaptcha g-recaptcha-scale" data-sitekey="6Lc0RDgUAAAAABTIPzlB1iiRQweUOhvhkx93JI5b"></div>
                        <noscript>
                            <div class="g-recaptcha-scale">
                                <div class="g-recaptcha_alt">
                                    <div class="g-recaptcha_test">
                                        <iframe src="https://www.google.com/recaptcha/api/fallback?k=6Lc0RDgUAAAAABTIPzlB1iiRQweUOhvhkx93JI5b"
                                            frameborder="0"
                                            scrolling="no"
                                            class="g-recaptcha_frame">
                                        </iframe>
                                    </div>
                                </div>
                                <div class="g-recaptcha_input-wrapper">
                                  <textarea id="g-recaptcha-response"
                                        name="g-recaptcha-response"
                                        class="g-recaptcha-response">
                                  </textarea>
                                </div>
                            </div>
                        </noscript>
                    </div>
                    <div class="order-popup_cell">
                        <button class="order-button">Отправить запрос</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <a href="./index.html" class="order-popup_close js-close">На главную</a>
</div>