<div class="pagination">
    <a class="pagination_item" href="#">1</a>
    <a class="pagination_item" href="#">2</a>
    <a class="pagination_item" href="#">3</a>
    <a class="pagination_item" href="#">4</a>
    <span class="pagination_item __active">5</span>
    <a class="pagination_item" href="#">6</a>
    <a class="pagination_item" href="#">7</a>
    <a class="pagination_item" href="#">8</a>
    <a class="pagination_item" href="#">9</a>
    <a class="pagination_item" href="#">10</a>
    <a class="pagination_item" href="#">11</a>
    <a class="pagination_item" href="#">12</a>
    <span class="pagination_item">...</span>
    <a class="pagination_item" href="#">200</a>
</div>