<header class="top-line js-hook" data-module="Menu">
    <div class="top-line_container">
        <div class="top-line_left">
            <%- partial("_logo"); %>
        </div>
        <div class="top-line_right">
            <div class="top-line_contact">
                <%- partial("_compact-contact-info"); %>
            </div>
            <div class="top-line_nav-menu">
                <%- partial("_nav-menu"); %>
            </div>
        </div>
        <div class="top-line_nav-icon"></div>
    </div>
</header>