<div class="vendors">
    <div class="vendors_container">
        <div class="vendors_title">
            <div class="vendors_counter"><%- id %></div>
            Поставщики
        </div>

        <div class="vendors_list">
            <a href="./brand.html" class="vendors_link">Balluff</a>
            <a href="./brand.html" class="vendors_link">Beckhoff</a>
            <a href="./brand.html" class="vendors_link">Bosch Rexroth</a>
            <a href="./brand.html" class="vendors_link">Buschjost</a>
            <a href="./brand.html" class="vendors_link">Endress Hauser</a>
            <a href="./brand.html" class="vendors_link">GHR</a>
            <a href="./brand.html" class="vendors_link">Herion</a>

            <a href="./brand.html" class="vendors_link">Hydac</a>
            <a href="./brand.html" class="vendors_link">Keyence</a>
            <a href="./brand.html" class="vendors_link">Kracht</a>
            <a href="./brand.html" class="vendors_link">Maxseal</a>
            <a href="./brand.html" class="vendors_link">Metal Work</a>
            <a href="./brand.html" class="vendors_link">Norgren</a>
            <a href="./brand.html" class="vendors_link">Pepperl+Fuchs</a>

            <a href="./brand.html" class="vendors_link">Pilz</a>
            <a href="./brand.html" class="vendors_link">Prominent</a>
            <a href="./brand.html" class="vendors_link">Sauer Danfos</a>
            <a href="./brand.html" class="vendors_link">Siemens</a>
            <a href="./brand.html" class="vendors_link">Spirax Sarco</a>
            <a href="./brand.html" class="vendors_link">UWT</a>
            <a href="./brand.html" class="vendors_link">Thompson Valves</a>
        </div>

    </div>
</div>