@import "../_utils.less";

@breadcrumbsFontSize: 1.5rem;

.breadcrumbs {
    .set-grid-offset(padding-top, 1, @breadcrumbsFontSize, @breadcrumbsFontSize);
    .set-grid-offset(margin-bottom, -1, @breadcrumbsFontSize, @breadcrumbsFontSize);
    .grid-line(@breadcrumbsFontSize, @phoneBreakpoint);
    .grid-line(@breadcrumbsFontSize, @tabletPortraitBreakpoint);
    }

    .breadcrumbs_item {
        display: inline-block;

        &:after {
            content: '\00a0/'
            }

        &:last-child:after {
            display: none;
            }
        }