@import "../_utils.less";
@import "../_sprite.less";

.checkbox-wrapper {
    }

    .checkbox {
        position: relative;
        width: 2.8rem;
        height: 2.8rem;
        float: left;
        padding: 0;
        margin: 0 1rem 0 0;

        &:before {
            .checkbox-empty;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 2.8rem;
            height: 2.8rem;
            }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            }

        &:checked:after {
            .checkbox-checked;
            }
        }

    .checkbox-label {
        position: relative;
        top: -0.6rem;
        display: block;
        font-size: 1.5rem;
        line-height: @smallGridLineHeight;
        overflow: hidden;

        & br {
            display: none;
            }

        .tablet-landscape-breakpoint({
            & br {
                display: inline;
                }
            })
        }