@font-face {
    font-family: 'Formular';
    src: url('../fonts/formular-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    }

@font-face {
    font-family: 'Formular';
    src: url('../fonts/formular-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    }