@import "../_utils.less";

.heading1 {
    .grid-line(1.8rem, @phoneBreakpoint, 1);
    .grid-line(3.3rem, @tabletPortraitBreakpoint, 2);
    .grid-line(4.8rem, @tabletLandscapeBreakpoint, 2);
    .wordWrap();
    .altCompensateContent();
    font-weight: 500;
    }

.heading3 {
    .body-grid-line();
    .altCompensateContent();
    font-weight: 500;
    }