@import "../_utils.less";

@input-background: #eeeeef;

.input-wrapper {
    .triangle-corners(@input-background, #fff);
    display: inline-block;
    width: 100%;
    position: relative;
    }

.input-text {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 1.8rem;
    border: 0 none;
    box-sizing: border-box;
    color: @gray;
    font-weight: 300;
    font-family: Formular, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    outline: none;
    background-color: transparent;

    &:focus {
        outline: none;
        }

    input& {
        height: 6rem;
        }

    textarea& {
        line-height: 1.2;
        height: 18rem;
        resize: none;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        }

    .input-wrapper.__js-placeholder & {
        padding: 1.4rem 1.8rem 0;
        }
    }

.input-label {
    display: none;
    position: absolute;
    top: 1.8rem;
    left: 1.8rem;
    right: 1.8rem;
    font-size: 2rem;
    font-weight: 300;
    white-space: nowrap;
    transition: top @animationTime, font-size @animationTime, transform @animationTime;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.5;

    .input-wrapper.__small-placeholder & {
        top: 0.8rem;
        font-size: 1.5rem;
        }
        .input-wrapper.__small-placeholder textarea + & {
            display: none;
            }

    .input-wrapper.__js-placeholder & {
        display: block;
        }
    }

    .input-label_required {
        vertical-align: top;
        font-size: 1.4rem;
        }