@import "../_utils.less";

.default-container {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    border-left: @gapWidth transparent solid;
    border-right: @gapWidth transparent solid;

    .grid & {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -2rem;
            right: -8rem;
            bottom: 0;
            z-index: 9999;
            pointer-events: none;
            opacity: 0.8;
            background-position: -7.8rem 0;
            background-image: repeating-linear-gradient(90deg, transparent, transparent 7.9rem, red 0.1rem, transparent 8rem, transparent 9.9rem, red 10rem);
            }
        }

    .tablet-portrait-breakpoint({
        .grid-column-width(6);
        border: 0 none;
        });

    .tablet-landscape-breakpoint({
        .grid-column-width(8);
        border: 0 none;
        });

    .desktop-breakpoint({
        .grid-column-width(12);
        border: 0 none;
        });
    }

.columns {
    display: flex;
    flex-direction: column;
    margin-left: -@gapWidth;

    &.__2 {
        .tablet-portrait-breakpoint({
            flex-direction: row;
            });
        }

    &.__3 {
        .tablet-landscape-breakpoint({
            flex-direction: row;
            });
        }

    &.__4 {
        .tablet-landscape-breakpoint({
            flex-direction: row;
            });
        }
    }

    .column {
        box-sizing: border-box;
        border-left: @gapWidth transparent solid;

        .columns.__2 & {

            .tablet-portrait-breakpoint({
                width: 50%;
                })
            }

        .columns.__3 & {

            .tablet-landscape-breakpoint({
                width: 33%;

                &:last-child {
                    width: 34%;
                    }
                });
            }

        .columns.__4 & {

            .tablet-landscape-breakpoint({
                width: 25%;
                });
            }
        }

.table-notbalance {
    table-layout: auto !important;

    & td:first-child {
        width: 70%;
        }
    }

.pseudotable {

    & a {
        text-decoration: none;
        color: @accent;

        &[target="_blank"] {
            white-space: nowrap;
            }

        &[target="_blank"]:after {
            .grid_arrw;
            content: '';
            display: inline-block;
            width: 1.4rem;
            height: 1.4rem;
            margin-left: 0.4rem;
            margin-bottom: -0.1rem;

            .tablet-portrait-breakpoint({
                margin-bottom: 0;
                })
            }
        }
    }

.pseudotable_row {
    position: relative;
    display: flex;
    flex-direction: column;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-top: 0.1rem #fff solid;
        }

        & + &:before {
            display: none;
            }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 0.1rem #fff solid;
        }

    .tablet-portrait-breakpoint({
        flex-direction: row;

        &:nth-child(2n+1) {
            border-bottom: 0.1rem transparent solid;
            }

        & + & {

            & .pseudotable_cell-title {
                display: none;
                }
            }

        &:before,
        &:after {
            display: none;
            }
        })
    }

.pseudotable_cell {
    .set-grid-line-height(min-height);
    position: relative;
    padding: 0.5rem 0;
    overflow: hidden; // clearfix

    .tablet-portrait-breakpoint({
        display: flex;
        flex-direction: column;
        padding: 0.6rem 0;
        overflow: visible; // restore pseudoborders
        border-right: @gapWidth transparent solid;

        &:last-child {
            border: 0 none;
            }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-bottom: 0.1rem #fff solid;
            }

        & + &:after,
        & + & .pseudotable_cell-title:after {
            left: -@gapWidth;
            }
        });
    }

.pseudotable_cell-title {
    .grid-column-width(1);
    .set-grid-line-height(min-height, 1);
    .wordWrap(true);
    position: relative;
    margin-right: @gapWidth;
    font-weight: 500;
    flex-shrink: 0;
    float: left;

    .tablet-portrait-breakpoint({
        width: auto;
        margin-right: 0;
        float: none;

        padding-bottom: 0.6rem;
        border-bottom: 0.1rem transparent solid;
        margin-bottom: 0.6rem;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 0.1rem #fff solid;
            }
        })
    }

.pseudotable_cell-content {
    overflow: hidden;

    &.__two-lines {
        .ellip(2);
        }
    }