@import "../_utils.less";
@import "../_sprite.less";

.small-logo() {
    .logo-mobile;
    width: 3.8rem;
    height: 3rem;
    }

.medium-logo() {
    .logo-footer;
    }

.logo {
    display: block;
    text-indent: -99rem;
    .logo-tablet;

    &.__small {
        .small-logo();
        }

    &.__medium {
        .medium-logo()
        }

    .top-line.__fixed & {
        .small-logo();
        }

    .desktop-breakpoint({
        .logo-desktop;

        .top-line.__fixed & {
            .small-logo();
            }
        });
    }
