@import "../_utils.less";
@import "../_sprite.less";

.order-button {
    .triangle-corners();
    position: relative;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0 1.8rem;
    height: 6rem;
    line-height: 6rem;
    cursor: pointer;
    text-decoration: none;
    border: 0 none;
    text-align: left;
    font-family: Formular, Arial, Helvetica, sans-serif;

    .invert & {
        .triangle-corners(@primaryColor: @accent; @backgroundColor: #fff);
        }

    &:focus {
        outline: 0;
        }

    &:after {
        .arrw-button;
        content: '';
        position: absolute;
        top: 50%;
        right: 1.8rem;
        margin-top: -1.5rem;
        margin-left: 0;
        }
    }
