@import "../_utils.less";

.pagination {
    display: flex;
    flex-wrap: wrap;

    .tablet-portrait-breakpoint({
        flex-wrap: nowrap;
        })
    }

    .pagination_item {
        display: inline-block;
        padding: 1rem;
        text-align: center;
        border-radius: 2px;
        text-decoration: none;

        & + & {
            margin-right: 0.4rem;
            }

        a& {

            &:hover {
                color: @accent;
                }

            }

        span& {

            &.__active {
                background-color: #000;
                color: #fff;
                }
            }

        .tablet-portrait-breakpoint({
            flex-grow: 1;
            padding: 0.6rem;
            margin-right: 0;

            & + & {
                margin-left: 0.4rem;
                }
            });
        }