@import "../_utils.less";

html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: Formular, Arial, Helvetica, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    }

body {
    .set-grid-line-height(line-height);
    position: relative;
    // мы не хотим ограничивать высоту 100%,
    // поэтому хак с сочетанием height и min-height
    // http://www.456bereastreet.com/archive/201306/height_in_percent_when_parent_has_min-height_and_no_height/
    height: 1px;
    min-height:100%;
    padding: 0;
    margin: 0;
    background-color: #191919;
    color: white;
    font-size: @smallBodyFontSize;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    .tablet-portrait-breakpoint({
        font-size: @defaultBodyFontSize;
        });

    &.__modal {
        overflow: hidden;
        }
    }

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    }

p, ul, ol {
    padding: 0;
    margin: 0;
    }

ul, ol {
    list-style: none;
    }

hr {
    margin: 0;
    border: 0 none;
    }

a {
    color: #fff;

    &:hover {
        text-decoration: none;
        }
    }

th {
    font-weight: 300;
    text-align: left;
    }

article, aside, figcaption, figure, footer, header, section {
    display: block;
    margin: 0;
    padding: 0;
    }